<%= bootstrap_form_tag(url: '/chemical_record_stats', method: "post") do |f| %>
  <%= f.hidden_field :start_date, value: "{{dt1 | date:'yyyy-MM-dd'}} 00:00:01 -600" %>
  <%= f.hidden_field :end_date, value: "{{dt2 | date:'yyyy-MM-dd'}} 23:59:59 -600" %>

  <div ng-controller='ChemicalRecordsCtrl'>

    <label>Location</label>
    <select ng-model='selectedLocationId' class='form-control'>
      <option value=''>Select Location</option>
      <option ng-repeat='location in locations' value='{{location.id}}'>
        {{location.name}}
      </option>
    </select>
    <%= f.hidden_field :location_id, value: "{{selectedLocationId}}" %>

    <label>Pool</label>
    <select ng-model='selectedPoolId' class='form-control'>
      <option value=''>Select Pool</option>
      <option ng-repeat='pool in pools | filter:{location_id: filters.location_id}' value='{{pool.id}}'>
        {{pool.name}}
      </option>
    </select>
    <%= f.hidden_field :pool_id, value: "{{selectedPoolId}}" %>

  </div>






  <%= f.primary 'Query Database', :onclick => "alert('Please see results numberics results tab to view results')" %>
<% end %>

