<% provide(:title, 'Chemical Statistics') %>
<h1 class='cross_platform_header'>Chemical Record Statistics</h1>

<%= @ch1 %>

<div class='row'>
  <div class='col-md-4'>
    <div ng-app='digiquatics'>
      <div ng-controller='AnalyticsCtrl'>
        <div class='well'>
          <center><h3>Parameters</h3></center>
          <label>Start Date</label>
          <dq-start-date></dq-start-date>
          <br>
          <label>End Date</label>
          <dq-end-date></dq-end-date>
          <br>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-8'>
    <h4> Numerical Analysis </h4>
    <table class='table table-bordered'>
    <tr>
      <th>Metric</th>
      <th>Min</th>
      <th>Max</th>
      <th>Avg</th>
      <th>Count</th>
    </tr>
    <% @metrics.each do |name, metric| %>
      <tr>
        <td><%= name %></td>
        <td><%= @facade.minimum(metric, @pool_id) %></td>
        <td><%= @facade.maximum(metric, @pool_id) %></td>
        <td><%= @facade.average(metric, @pool_id) %></td>
        <td><%= @facade.total_records(metric, @pool_id)%></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<h4>Graphical Analysis</h4>
<%= high_chart('cl', @cl) %>
<br><br>
<%= high_chart('ph', @ph) %>
<br><br>
<%= high_chart('alk', @alk) %>
<br><br>
<%= high_chart('ch', @ch) %>
<br><br>
<%= high_chart('temp', @temp) %>
<br><br>
<%= high_chart('si', @si) %>
