<% provide(:title, 'Dashboard') %>
<div class='jumbotron well hidden-xs'>
<h1 class='cross_platform_header'>DigiQuatics Dashboard</h1>
</div>
<div class='visible-xs visible-sm'>
  <center>
    <h4>DigiQuatics Dashboard</h4>
  </center>
  <br>
  <% if current_user.chemical_records_access? || current_user.admin? %>
   <%= link_to new_chemical_record_path,
               class:'btn btn-default btn-primary btn-lg btn-block' do %>
     <center>
       <i class='fa fa-flask fa-2x'></i>
       <br>
       Chemical Record
     </center>
   <% end %>
  <% end %>

  <%= link_to new_help_desk_path,
             class:'btn btn-default btn-primary btn-lg btn-block' do %>
   <center>
     <i class='fa fa-wrench fa-2x'></i>
     <br>
     Maintenance Issue
   </center>
  <% end %>

  <%= link_to new_shift_report_path,
             class:'btn btn-default btn-primary btn-lg btn-block' do %>
   <center>
     <i class='fa fa-clipboard fa-2x'></i>
     <br>
     Shift Report
   </center>
  <% end %>

  <%= link_to new_slide_inspection_path,
             class:'btn btn-default btn-primary btn-lg btn-block' do %>
   <center>
     <i class='fa fa-pencil-square-o fa-2x'></i>
     <br>
     Slide Inspection
   </center>
  <% end %>
</div>

<div class='hidden-xs hidden-sm'>
  <center>
    <br><br>
     <% if current_user.chemical_records_access? || current_user.admin? %>
      <%= link_to new_chemical_record_path,
                  class:'btn btn-default btn-primary btn-lg btn-wide' do %>
        <center>
          <i class='fa fa-flask fa-3x'></i>
          <br>
          Chemical Record
        </center>
      <% end %>
    <% end %>

    <%= link_to new_help_desk_path,
                class:'btn btn-default btn-primary btn-lg btn-wide' do %>
      <center>
        <i class='fa fa-wrench fa-3x'></i>
        <br>
        Maintenance Issue
      </center>
    <% end %>

    <%= link_to new_shift_report_path,
                class:'btn btn-default btn-primary btn-lg btn-wide' do %>
      <center>
        <i class='fa fa-clipboard fa-3x'></i>
        <br>
        Shift Report
      </center>
    <% end %>

    <%= link_to new_slide_inspection_path,
                class:'btn btn-default btn-primary btn-lg btn-wide' do %>
      <center>
        <i class='fa fa-pencil-square-o fa-3x'></i>
        <br>
        Slide Inspection
      </center>
    <% end %>
  </center>
</div>
