<% provide(:title, 'Dashboard') %>
<div class='hidden-xs'>
<h1 class='cross_platform_header'>DigiQuatics Dashboard</h1>
</div>

<div class='well shadow-effect'>
  <div class='row'>
    <div class='col-md-6'>
      <br>
      <% if current_user.chemical_records_access? || current_user.admin? %>
       <%= link_to new_chemical_record_path,
                   class:'btn btn-default btn-primary btn-lg btn-block' do %>
         <center>
           <i class='fa fa-flask fa-2x'></i>
           <br>
           Chemical Record
         </center>
       <% end %>
      <% end %>

      <%= link_to new_help_desk_path,
                 class:'btn btn-default btn-primary btn-lg btn-block' do %>
       <center>
         <i class='fa fa-wrench fa-2x'></i>
         <br>
         Maintenance Issue
       </center>
      <% end %>

      <%= link_to new_shift_report_path,
                 class:'btn btn-default btn-primary btn-lg btn-block' do %>
       <center>
         <i class='fa fa-clipboard fa-2x'></i>
         <br>
         Shift Report
       </center>
      <% end %>

      <%= link_to new_slide_inspection_path,
                 class:'btn btn-default btn-primary btn-lg btn-block' do %>
       <center>
         <i class='fa fa-pencil-square-o fa-2x'></i>
         <br>
         Slide Inspection
       </center>
      <% end %>
    </div>
    <% if current_user.admin? %>
      <div class='dashboard-link'>
        <div class='col-md-2'>
          <h3>
          <%= link_to sub_requests_path do %>Pending<br>Sub Requests<% end %>
          </h3>
          <h1><%= number_sub_requests %></h1>
        </div>
        <div class='col-md-2'>
          <h3>
          <%= link_to admin_sub_requests_path do %>Admin<br>Sub Requests<% end %>
          </h3>
          <h1><%= number_admin_sub_requests %></h1>
        </div>
        <div class='col-md-2'>
          <h3>
          <%= link_to time_off_requests_path do %>Time Off<br>Requests<% end %>
          </h3>
          <h1><%= number_time_off_requests %></h1>
        </div>
        <br>
        <div class='col-md-2'>
          <h3>
            <%= link_to account_private_lessons_path(account_id: current_user.account_id) do %>
              Pending<br>Private Lesson Requests
            <% end %>
          </h3>
          <h1><%= number_private_lessons %></h1>
        </div>
        <div class='col-md-2'>
          <h3>
            <%= link_to help_desks_path do %>Open Maintenance<br>Issues</h3><% end %>
          </h3>
          <h1><%= number_open_issues %></h1>
        </div>
      </div>
    <% end %>
  </div>
</div>
