<!DOCTYPE html>
<html>
  <head>
    <title>DigiQuatics - Web Based Scheduling for Aquatics Management</title>
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0 user-scalable=no'>
    <meta name='description'
          content='Online scheduling and data management for rec centers,
                   YMCAs, country clubs, and HOA pools.'>
    <%= stylesheet_link_tag 'application', media: 'all',
                            'data-turbolinks-track' => true %>
    <%= render 'layouts/google_analytics' %>
  </head>

  <body id='ladningBody'>
    <%= custom_bootstrap_flash %>
    <div>
      <div id='splash_page'>
        <div class='pull-right'>
          <% unless signed_in? %>
            <%= link_to 'Sign In', new_user_session_path,
                        id: 'landing_sign_in_link' %>
          <% else %>
            <%= link_to 'Dashboard', dashboard_path,
                        id: 'landing_sign_in_link' %>
          <% end %>
        </div>
        <br>
        <center>
          <h3><i class='fa fa-tint fa-lg'></i> DigiQuatics</h3>
          <strong id='main-heading'>
            Manage Pools...<br><br>
            Not Paper
          </strong>
          <!-- <h5 id='sub-heading'>
          </h5> -->
        </center>
        <div id='sub-heading2'>
          <%= link_to 'TRY IT FREE FOR 30 DAYS', '#dq_sign_up',
                       class: 'btn btn-default btn-lg btn-outline-cta1',
                       id: 'header-btn' %>
        </div>
      </div>
    </div>

    <%= render 'layouts/landing_nav' %>

    <center>
      <div id='dq_overview' class='mobile_fix'>
        <br><br>
        <p id='overview_content'>
          Online scheduling and data management tool for aquatics departments.
          Save time on scheduling and managing your facility while also
          increasing revenue by managing your private lessons program online.
          Eliminate paperwork and digitize your facility today.
        </p>
        <br><br>
      </div>

      <div id='dq_features'>
        <hr>
        <br><br>
        <strong id='info-header'>FEATURES</strong>
        <br><br><br>
        <div class='row'>
          <div class='col-sm-1'></div>
          <div class='col-sm-2'>
            <div class='blue_icon'>
              <i class='fa fa-flask fa-5x'></i>
            </div>
            <br>
            <h4>Chemical<br>Records</h4>
            <p class='mobile_features_text'>
              Submit pool chemical readings on-the-go. Instantly calculate
              combined chlorine and saturation index (SI) upon submitting
              a chemical record. Receive detailed recomendations based on your
              readings and track trends using our robust analytics platform.
            </p>
          </div>
          <div class='col-sm-2'>
            <div class='blue_icon'>
              <i class='fa fa-users fa-5x'></i>
            </div>
            <br>
            <h4>Employee<br>Management</h4>
            <p class='mobile_features_text'>
              Manage all your staff information in one place: contact
              information, sizing, emergency contacts, notes, and more.
              Track American Red Cross, Ellis and Associates, and other certifications.
              Know when your employees need to renew automatically.
            </p>
          </div>
          <div class='col-sm-2'>
            <div class='blue_icon'>
              <i class='fa fa-calendar fa-5x'></i>
            </div>
            <br>
            <h4>Staff<br>Scheduling</h4>
            <p class='mobile_features_text'>
              Create schedules for your locations and staff and publish online. Designed to
              work with multiple locations. Staff can submit availabilities,
              sub requests and time off requests online.
            </p>
          </div>
          <div class='col-sm-2'>
            <div class='blue_icon'>
              <i class='fa fa-child fa-5x'></i>
            </div>
            <br>
            <h4>Private Lessons<br>Portal</h4>
            <p class='mobile_features_text'>
              Parents can request private lessons online 24/7 (without creating an account).
              The requests instantly push to an online queue system where instructors
              can claim the lessons and get paired up with students.
            </p>
          </div>
          <div class='col-sm-2'>
            <div class='blue_icon'>
              <i class='fa fa-wrench fa-5x'></i>
            </div>
            <br>
            <h4>Maintenance<br>Tracking</h4>
            <p class='mobile_features_text'>
              Issue tracking system allows any staff member to flag issues.
              Upload photos of any problems from your mobile device. Handle and
              manage slide inspections online with instant notifications of
              potential problems.
            </p>
          </div>
          <div class='col-sm-1'></div>
        </div>
        <br><br>
      </div>

      <div id='dq_benefits'>
        <hr>
        <br><br>
        <strong id='info-header'>BENEFITS</strong>
        <br><br>
        <div id='benefit_content'>
          <li>Email and SMS notifications</li>
          <br>
          <li>Designed with mobile in mind</li>
          <br>
          <li>Cloud based data protection</li>
          <br>
          <li>Built in tech support</li>
          <br>
          <li>Robust security</li>
          <br>
          <li>Export your data anytime</li>
        </div>
        <br>
        <br>
      </div>

      <div id='dq_pricing'>
        <hr>
        <br><br>
        <strong id='info-header'>PRICING</strong>
        <br><br>
        <div id='pricing_content'>
        <div>
          <div id='pricing_table'>
            <br>
            <h4>Any Size Organization</h4>
            <br>
            <h5>Request Quote<br><br>
              <%= link_to 'Josh@digiquatics.com',
                          'mailto:Josh@digiquatics.com',
                           id: 'email_link' %>
            </h5>
          </div>
        </div>
        <br><br><br>
        </div>
      </div>

      <div id='dq_sign_up'>
        <hr>
        <br><br>
        <strong id='info-header'>SIGN UP</strong>
        <br><br>
        <p id='mobile-content' class='mobile_features_text'>
          Sign up to gain access to DigiQuatics. Our team will reach out to you
          imediately to onboard your facility and staff onto our platform. We
          do all the heavy lifting so you don't have to. Just send us your
          data!
        </p>
        <br>
        <div class='landing_button_text'>
        <%= link_to 'SIGN UP TODAY FOR FREE TRAIL', signup_path,
                     class: 'btn btn-default btn-lg btn-outline-cta1' %>
        </div>
        <strong>No Credit Card Required</strong>
        <br><br><br>
      </div>

      <div id='dq_demo'>
        <hr>
        <br><br>
        <strong id='info-header'>DEMO</strong>
        <br><br>
        <p id='mobile-content' class='mobile_features_text'>
          Our team would love to demo the app for you anytime. If you are local
          we would love to come meet face to face. Otherwise a virtual meeting
          can be setup easily.
        </p>
        <br><br>
      </div>

      <div id='dq_contact'>
        <hr>
        <br><br>
        <strong id='info-header'>CONTACT</strong>
        <br><br>
          <p id='mobile-content' class='mobile_fix'>
           We're headquartered in Denver, Colorado and would love to meet in
           person if you're local too. Otherwise, you can contact us via phone,
           email, or Twitter
           <a style='color: black;' href='https://twitter.com/DigiQuatics'>
             <b> @DigiQuatics</b>.
           </a>
          </p>
          <div id='contact_link'>
            <a class='btn btn-default btn-lg btn-outline-cta1'
               href='tel:303-921-8628'>
              <i class='fa fa-phone fa-lg'></i>
               (303)-921-8628</a>
              <br><br>
            <a class='btn btn-default btn-lg btn-outline-cta1'
               href='mailto:Josh@digiquatics.com'>
              <i class='fa fa-envelope fa-lg'></i>
               Josh@digiquatics.com</a>
          </div>
          <br><br><br><br>
      </div>

      <div id='social'>
        <br><br>
        <p class='social_icon'>
          <a href='https://twitter.com/DigiQuatics'>
            <i class='fa fa-twitter-square fa-3x'></i>
          </a>
          <a href='https://www.facebook.com/DigiQuatics'>
            <i class='fa fa-facebook-square  fa-3x'></i>
          </a>
          <a href='http://instagram.com/DigiQuatics'>
            <i class='fa fa-instagram fa-3x'></i>
          </a>
        </p>
        <br><br>
      </div>

      <div id='copyright'>
        <br><br>
        <div class='row'>
          <div class='col-md-4'></div> <!-- Placeholder -->
          <div class='col-md-2'>
            <h4 class='whiteText'>Company</h4>
            <p class='footer_text_primary'>
              <a href='/tos'> Terms of Service </a>
              <br>
              <a href='/privacy'> Privacy Policy </a>
            </p>
          </div>
          <div class='col-md-2'>
            <h4 class='whiteText'>About</h4>
              <p class='footer_text_primary'>
              <a href='/team'> The Team </a>
            </p>
          </div>
          <div class='col-md-4'></div> <!-- Placeholder -->
            <br><br><br><br><br><br>
            <p class='whiteText'>
              Made with <i class='fa fa-heart fa-1x' id='heart'></i>
              in Denver, CO
              <%= image_tag('/images/co.png', alt: 'Colorado State Flag') %>
            </p>
            <br>
            <span>&#169; 2013-2014 -</span>
            <a href='http://www.affektive.com'>
              Affketive Software LLC
            </a>
        </div>
        <br><br>
      </div>
    </center>
  </body>
</html>
