<% provide(:title, 'Private Lesson Statistics') %>
<h1 class='cross_platform_header'>Private Lesson Statistics</h1>

<div class='pull-left'>
  <%= link_to ' Back', account_private_lessons_path(account_id: current_user.account_id) ,
      class: 'glyphicon glyphicon-arrow-left' %>
</div>
<br><br>

<table class='table table-bordered'>
  <tr>
    <th>Metric</th>
    <th>Uncliamed</th>
    <th>Claimed</th>
    <th>Total</th>
  </tr>
  <tr>
    <th>All Locations</th>
    <th><%= @facade.unclaimed_total %></th>
    <th><%= @facade.claimed_total %></th>
    <th><%= @facade.total %></th>
  </tr>
</table>
<br><br>

<% @facade.locations.each do |location| %>
  <%= column_chart [['Uncliamed', @facade.unclaimed_for(location)],
                    ['Claimed', @facade.claimed_for(location)],
                    ['Total', @facade.total_for(location)]],
                    colors: ['065BA0'],
                    library: {title: location.name,
                              vAxis: {title: 'Number of Lessons'}} %>
<% end %>
