<% provide(:title, 'Employee Statistics') %>
<h1 class='cross_platform_header'>Employee Statistics</h1>

<div class='table-width-desktop'>
  <h4> Basic Information </h4>
    <table class='table table-bordered'>
      <tr><th style='width:25%'>Metric</th><th>Count</td></tr>
      <tr><td>Users </td>
        <td><%= @users.count %>
        </td></tr>
      <tr><td>Male </td><td>
        <%= @users.male.count %>
      </td></tr>
      <tr><td>Female </td><td>
        <%= @users.female.count %>
      </td></tr>
    </table>

  <h4> Classification </h4>
    <table class='table table-bordered'>
      <tr><th style='width:25%'>Metric</th><th>Count</td></tr>
      <tr><td>Admin </td><td>
        <%= @users.admin.count %>
      </td></tr>
      <tr><td>Active </td><td>
        <%= @users.active.count %>
      </td></tr>
      <tr><td>Inactive </td><td>
        <%= @users.inactive.count %>
      </td></tr>
    </table>

  <h4> Inventory </h4>
    <table class='table table-bordered'>
      <tr><th style='width:25%'>Metric</th><th>Count</td></tr>
      <tr><td>Shirts </td><td>
        <% User.group(:shirt_size).count.each do |key, value| %>
          <%= "#{key}:#{value} "%></br>
        <% end %>
      </td></tr>
      <tr><td>Male Suit </td><td>
        <% User.male.group(:suit_size).count.each do |key, value| %>
          <%= "#{key}:#{value} "%></br>
        <% end %>
      </td></tr>
      <tr><td>Female One-Peice </td><td>
        <% User.female.group(:femalesuit).count.each do |key, value| %>
          <%= "Size(#{key}): #{value} "%></br>
        <% end %>
      </td></tr>
      <tr><td>Female Top </td><td>
        <% User.female.group(:shirt_size).count.each do |key, value| %>
          <%= "#{key}:#{value} "%></br>
        <% end %>
      </td></tr>
      <tr><td>Female Bottom </td><td>
        <% User.female.group(:suit_size).count.each do |key, value| %>
          <%= "#{key}:#{value} "%></br>
        <% end %>
      </td></tr>
    </table>
</div>
