<% provide(:title, 'User Statistics') %>
<h1>User Statistics</h1>

<div id="stats">

<h2> Basic Information </h2>
	<table class="table table-bordered">
		<tr><th>Metric</th><th>Count</td></tr>
		<tr><td>Users </td><td><%= @users.count %></td></tr>
		<tr><td>Male </td><td><%= @male_users.count %></td></tr>
		<tr><td>Female </td><td><%= @female_users.count %></td></tr>
	</table>

<h2> Classification </h2>
	<table class="table table-bordered">
		<tr><th>Metric</th><th>Count</td></tr>
		<tr><td>Admin </td><td><%= @admin_true.count %></td></tr>
		<tr><td>Active </td><td><%= @active.count %></td></tr>
		<tr><td>Inactive </td><td><%= @inactive.count %></td></tr>
	</table>
	
<h2> Inventory </h2>			
	<table class="table table-bordered">
		<tr><th>Metric</th><th>Count</td></tr>
		<tr><td>Shirts </td><td><%= @users.group(:shirt_size).count %></td></tr>
		<tr><td>Male Suit </td><td><%= @male_users.group(:suit_size).count %></td></tr>
		<tr><td>Female One-Peice </td><td><%=  %></td></tr>
		<tr><td>Female Top</td><td><%= @female_users.group(:shirt_size).count %></td></tr>
		<tr><td>Female Bottom </td><td><%= @female_users.group(:suit_size).count %></td></tr>
	</table>		


	<p> <b> Location: </b> <%= @users.group(:location).count %>  </p>

</div>
