<table class='table table-hover table-condensed'>
  <thead>
    <tr>
      <th>Instructor Last Name</th>
      <th>Instructor First Name</th>
      <th>Phone</th>
      <th>Parent Last Name</th>
      <th>Parent First Name</th>
      <th>Phone</th>
      <th>Student</th>
      <th>Submitted</th>
      <th>Claimed</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_index.each do |private_lesson| %>
      <tr>
        <% if private_lesson.user %>
          <td>
            <%= link_to private_lesson.user.last_name, private_lesson.user %>
          </td>
          <td><%= private_lesson.user.first_name %></td>
          <td><%= private_lesson.user.phone_number %></td>
        <% end %>
        <td><%= private_lesson.parent_first_name %></td>
        <td><%= private_lesson.parent_last_name %></td>
        <td><%= private_lesson.phone_number %></td>
        <td>
          <% if private_lesson.participants.first %>
            <%= link_to private_lesson.participants.first.first_name, private_lesson %>
          <% end %>
        </td>
        <td><%= private_lesson.created_at.strftime('%-m/%-d/%Y') %></td>
        <td><%= private_lesson.updated_at.strftime('%-m/%-d/%Y') %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
