<table class='table table-hover table-condensed'>
  <thead>
    <tr>
      <th>Instructor Last Name</th>
      <th>Instructor First Name</th>
      <th>Phone</th>
      <th>Parent Last Name</th>
      <th>Parent First Name</th>
      <th>Phone</th>
      <th>Student</th>
      <th>Day</th>
      <th>Time</th>
      <th>Location</th>
      <th>Submitted</th>
      <th>Claimed</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_index.each do |private_lesson| %>
      <tr>
        <td><%= link_to User.find(private_lesson.user_id).last_name, User %></td>
        <td><%= link_to User.find(private_lesson.user_id).first_name, User %></td>
        <td><%= User.find(private_lesson.user_id).phone_number %></td>
        <td><%= private_lesson.parent_first_name %></td>
        <td><%= private_lesson.parent_last_name %></td>
        <td><%= private_lesson.phone_number %></td>
        <td><%= link_to private_lesson.first_name, private_lesson  %></td>
        <td><%= private_lesson.day %></td>
        <td><%= private_lesson.time %></td>
        <td>
          <%= Location.find_by_id(private_lesson.preferred_location).name %>
        </td>
        <td><%= private_lesson.created_at.strftime('%-m/%-d/%Y') %></td>
        <td><%= private_lesson.updated_at.strftime('%-m/%-d/%Y') %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
