<% provide(:title, "Edit Lesson") %>
  <%= bootstrap_form_for(@private_lesson) do |f| %>

  <h4> Parent Information </h4>
  <br>
    <%= f.text_field :parent_first_name %>
    <%= f.text_field :parent_last_name %>
    <%= f.telephone_field :phone_number %>
    <%= f.text_field :email %>
    <%= f.select :contact_method, options_for_select(%w[Call Email Text]) %>

  <h4> Student Information </h4>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.select :sex, options_for_select(%w[M F]) %>
    <%= f.text_field :age %>

  <h4> Preferences </h4>
    <%= f.select :instructor_gender, options_for_select(%w[M F]) %>
    <%= f.text_area :notes, size: "2x" %>
  <br>
    <%= f.submit "Save Changes", class: "btn btn-default btn-primary" %>
<% end %>
