<div class='userform well'>
  <% provide(:title, 'Edit Lesson') %>
    <%= bootstrap_form_for resources,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8' do |f| %>

    <%= content_tag(:legend, legend) if legend %>
    <p> * Indicates required field </p>
    <h4> Parent Information </h4>
    <br>
      <%= f.text_field :parent_first_name, label: 'Parent First Name *' %>
      <%= f.text_field :parent_last_name, label: 'Parent Last Name *' %>
      <%= f.telephone_field :phone_number, label: 'Phone Number *' %>
      <%= f.text_field :email, label: 'Email *' %>
      <%= f.select :contact_method,
                   options_for_select(%w[Call Email Text]),
                    { include_blank: true, label: 'Preferred Contact Method'} %>

    <h4> Student Information </h4>

      <%= f.fields_for :participants do |builder| %>
        <%= render 'participant_fields', f: builder %>
      <% end %>

    <%= link_to_add_fields(
      raw('<i class="glyphicon glyphicon-plus-sign glyphicon-2x"></i>'),
      f, :participants) %>

    <h4> Preferences </h4>
      <%= f.text_area :notes,
                      placeholder: 'Instructor Gender Preference, Specific Instructor, etc...',
                      size: '2x' %>
      <%= f.text_area :lesson_objective,
                      placeholder: 'Learn to dive, perfect butterfly stroke, etc...',
                      side: '2x',
                      label: 'Lesson Objectives' %>

    <h4> Lesson Request </h4>
      <%= f.select :number_lessons,
                   options_for_select((1..10).to_a),
                   label: 'Number of Lessons' %>
    <%= f.primary ( f.object.new_record? ?  'Submit' :
    'Save Changes' ) %>
  <% end %>
</div>
</div>

