<div class='userform well'>
  <% provide(:title, 'Edit Lesson') %>
    <%= bootstrap_form_for resources,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8' do |f| %>

    <center>
      <%= image_tag Account.find(@private_lesson.account).logo.url, height: '100' %>
    </center>
    <%= content_tag(:legend, legend) if legend %>
    <%= render 'shared/required' %>
    <h4> Parent Information </h4>
    <br>
      <%= f.text_field :parent_first_name, label: 'Parent First Name *' %>
      <%= f.text_field :parent_last_name, label: 'Parent Last Name *' %>
      <%= f.telephone_field :phone_number, label: 'Phone Number *' %>
      <%= f.text_field :email, label: 'Email *' %>
      <%= f.select :contact_method,
                   options_for_select(%w[Call Email Text]),
                    { include_blank: true, label: 'Preferred Contact Method'} %>

    <h4> Student Information </h4>

      <%= f.fields_for :participants do |builder| %>
        <%= render 'participant_fields', f: builder %>
      <% end %>

    <%= link_to_add_fields(
      raw('<i class="glyphicon glyphicon-plus-sign glyphicon-2x"></i>'),
      f, :participants) %>

    <h4> Preferences </h4>
      <%= f.select :location_id,
        options_from_collection_for_select(Location.same_account_as(current_user),
                                           :id,
                                           :name, @private_lesson.location_id) %>
      <%= f.text_area :notes,
                      placeholder: 'Special requests or comments',
                      size: '2x' %>
      <%= f.text_area :lesson_objective,
                      placeholder: 'Learning objectives',
                      side: '2x',
                      label: 'Lesson Objectives' %>

    <h4>Availability (Please check times you are available):</h4>

    <table class='table table-bordered' >
      <tr>
        <th class=''></th>
        <th class='lessons_form_table_cell'> AM </th>
        <th class='lessons_form_table_cell'> AFTN </th>
        <th class='lessons_form_table_cell'> PM </th>
      </tr>
      <tr>
        <th> Sunday </th>
        <td>
          <div class='checkbox_fix'>
            <%= f.check_box :sunday_morning, name: 'sunday_morning' %>
          </div>
        </td>
        <td>
          <div class='checkbox_fix'>
            <%= f.check_box :sunday_afternoon, name: 'sunday_afternoon'  %>
          </div>
        </td>
        <td>
          <div class='checkbox_fix'>
            <%= f.check_box :sunday_evening, name: 'sunday_evening'  %>
          </div>
        </td>
      </tr>
      <tr>
        <th> Monday </th>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :monday_morning, name: 'monday_morning' %>
          </div>
        </td>
        <td>
          <div class='checkbox_fix'>
        <%= f.check_box :monday_afternoon, name: 'monday_afternoon' %>
        </div>
        </td>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :monday_evening, name: 'monday_evening' %>
          </div>
        </td>
      </tr>
      <tr>
        <th> Tuesday </th>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :tuesday_morning, name: 'tuesday_morning' %>
          </div>
        </td>
        <td>
          <div class='checkbox_fix'>
        <%= f.check_box :tuesday_afternoon, name: 'tuesday_afternoon' %>
        </td>
        </div>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :tuesday_evening, name: 'tuesday_evening' %>
          </div>
        </td>
      </tr>
      <tr>
        <th> Wednesday </th>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :wednesday_morning, name: 'wednesday_morning' %>
          </div>
        </td>
        <td>
          <div class='checkbox_fix'>
        <%= f.check_box :wednesday_afternoon, name: 'wednesday_afternoon' %>
        </div>
        </td>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :wednesday_evening, name: 'wednesday_evening' %>
          </div>
        </td>
      </tr>
      <tr>
        <th> Thursday </th>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :thursday_morning, name: 'thursday_morning' %>
          </div>
        </td>
        <td>
          <div class='checkbox_fix'>
        <%= f.check_box :thursday_afternoon, name: 'thursday_afternoon' %>
        </div>
        </td>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :thursday_evening, name: 'thursday_evening' %>
          </div>
        </td>
      </tr>
      <tr>
        <th> Friday </th>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :friday_morning, name: 'friday_morning' %>
          </div>
        </td>
        <td>
          <div class='checkbox_fix'>
        <%= f.check_box :friday_afternoon, name: 'friday_afternoon' %>
        </div>
        </td>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :friday_evening, name: 'friday_evening' %>
          </div>
        </td>
      </tr>
      <tr>
        <th> Saturday </th>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :saturday_morning, name: 'saturday_morning' %>
          </div>
        </td>
        <td>
          <div class='checkbox_fix'>
        <%= f.check_box :saturday_afternoon, name: 'saturday_afternoon' %>
        </div>
        </td>
        <td>
          <div class='checkbox_fix'>
          <%= f.check_box :saturday_evening, name: 'saturday_evening' %>
          </div>
        </td>
      </tr>
    </table>

    <h4> Lesson Request </h4>
      <%= f.select :number_lessons,
                   options_for_select((1..10).to_a),
                   label: 'Number of Lessons' %>
    <%= f.primary ( f.object.new_record? ?  'Submit' :
    'Save Changes' ) %>
  <% end %>
</div>
</div>

