<%= bootstrap_form_for resources,
style: :horizontal, left: 'col-sm-4', right: 'col-sm-8' do |f| %>
  <%= render 'shared/required' %>
  <% unless @private_lesson.new_record? %>
    <h4> Meeting Arrangement </h4>
    <%= f.text_area :meeting_time_agreement,
                    placeholder: 'Please enter agreed meeting time',
                    size: '2x', hide_label: true %>
  <% end %>
  <br>
  <h4>Parent Information</h4>
  <%= f.text_field :parent_first_name, label: 'Parent First Name *' %>
  <%= f.text_field :parent_last_name, label: 'Parent Last Name *' %>
  <%= f.telephone_field :phone_number, label: 'Phone Number *' %>
  <%= f.text_field :email, label: 'Email (Required to receive email confirmation)' %>
  <%= f.select :contact_method, options_for_select(%w[Primary\ (Call) Secondary\ (Call) Email Primary\ (Text) Secondary\ (Text)],
               @private_lesson.contact_method.to_s),
                 label: 'Preferred Contact Method' %>

  <br>
  <h4>Student Information</h4>
  <%= f.fields_for :participants do |builder| %>
    <%= render 'participant_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields(
    raw('<i class="glyphicon glyphicon-plus-sign"></i> Add Semi-Private Lesson Student'),
    f, :participants) %>

  <br>
  <h4>Preferences</h4>
  <% if signed_in? %>
    <%= f.select :location_id,
      options_from_collection_for_select(Location
                                         .same_account_as(current_user),
                                         :id,
                                         :name, @private_lesson.location_id) %>
  <% else %>
    <%= f.select :location_id,
      options_from_collection_for_select(Location
                                         .same_account_as(@private_lesson),
                                         :id,
                                         :name, @private_lesson.location_id) %>
  <% end %>
  <%= f.text_area :notes,
                  placeholder: 'Special requests or comments',
                  size: '2x' %>
  <%= f.text_area :lesson_objective,
                  placeholder: 'Learning objectives',
                  side: '2x',
                  label: 'Lesson Objectives' %>
  <br>
  <h4>Availability<br/></h4>
  <h5>Please check times you are available</h5>
  <table class='table table-bordered' >
    <tr>
      <th class=''></th>
      <th class='lessons_form_table_cell visible-xs'> AM </th>
      <th class='lessons_form_table_cell visible-xs'> AFTN </th>
      <th class='lessons_form_table_cell visible-xs'> PM </th>
      <th class='lessons_form_table_cell hidden-xs'> Morning </th>
      <th class='lessons_form_table_cell hidden-xs'> Afternoon </th>
      <th class='lessons_form_table_cell hidden-xs'> Evening </th>
    </tr>
    <tr>
      <th>Sunday</th>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :sunday_morning, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :sunday_afternoon, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :sunday_evening, label: '' %>
        </div>
      </td>
    </tr>
    <tr>
      <th>Monday</th>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :monday_morning, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :monday_afternoon, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :monday_evening, label: '' %>
        </div>
      </td>
    </tr>
    <tr>
      <th>Tuesday</th>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :tuesday_morning, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :tuesday_afternoon, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :tuesday_evening, label: '' %>
        </div>
      </td>
    </tr>
    <tr>
      <th>Wednesday</th>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :wednesday_morning, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :wednesday_afternoon, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :wednesday_evening, label: '' %>
        </div>
      </td>
    </tr>
    <tr>
      <th>Thursday</th>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :thursday_morning, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :thursday_afternoon, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :thursday_evening, label: '' %>
        </div>
      </td>
    </tr>
    <tr>
      <th>Friday</th>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :friday_morning, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :friday_afternoon, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :friday_evening, label: '' %>
        </div>
      </td>
    </tr>
    <tr>
      <th>Saturday</th>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :saturday_morning, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :saturday_afternoon, label: '' %>
        </div>
      </td>
      <td>
        <div class='checkbox_fix'>
          <%= f.check_box :saturday_evening, label: '' %>
        </div>
      </td>
    </tr>
  </table>
  <br>
  <h4>Lesson Request</h4>
    <%= f.select :package_id,
      options_from_collection_for_select(Package
                                         .same_account_as(@private_lesson),
                                         :id,
                                         :name, @private_lesson.package_id),
                                         label: 'Lesson Package *' %>
    <% if signed_in? %>
      <% if @private_lesson.new_record?() %>
        <button type='submit' class='btn btn-block btn-primary'>
          <i class='fa fa-check'></i> Submit Lesson
        </button>
      <% else %>
        <button type='submit' class='btn btn-block btn-primary'>
          <i class='fa fa-refresh'></i> Update Lesson
        </button>
      <% end %>
    <% else %>
      <center>
        <%= f.submit 'Submit Lesson', class: 'devise-button' %>
      </center>
    <% end %>
<% end %>
</div>
