<div class='table-responsive'>

  <table class='table table-hover table-condensed'>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Day</th>
        <th>Time</th>
        <th>Location</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @private_lessons.each do |private_lesson| %>
        <tr>
          <td>
            <% if private_lesson.participants.first %>
              <%= link_to private_lesson.participants.first.last_name, private_lesson %>
            <% end %>
          </td>
          <td>
            <% if private_lesson.participants.first %>
              <%= link_to private_lesson.participants.first.first_name, private_lesson %>
            <% end %>
          </td>
          <td>
            <% if private_lesson.participants.first %>
              <%= private_lesson.participants.first.age %>
            <% end %>
          </td>
          <td>
            <% if private_lesson.participants.first %>
              <%= private_lesson.participants.first.sex %>
            <% end %>
          </td>
          <td><%= private_lesson.day %></td>
          <td><%= private_lesson.time %></td>
          <td>
            <% if Location.find_by_id(private_lesson.preferred_location) %>
              <%= Location.find_by_id(private_lesson.preferred_location).name %>
            <% end %>
          </td>
          <td><%= private_lesson.created_at.strftime('%-m/%-d/%Y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
