<div ng-app='digiquatics'>
  <div ng-controller='CompletedAdminPrivateLessonsCtrl'>
    <% provide(:title, 'Completed Private Lessons') %>
    <h1 class='cross_platform_header'>Completed Private Lessons Mangement</h1>
    <div class='row'>
      <dq-location></dq-location>
      <div class='visible-xs'><br></div>
      <dq-search></dq-search>
      <div class='visible-xs'><br><br><br><br></div>
      <div class='col-md-4'></div>
      <div class='col-md-5 pull-right'>
        <div class='pull-right'>
          <%= link_to new_account_private_lesson_path(account_id: current_account.id),
              class:'btn btn-primary' do %>
            <i class='fa fa-plus fa-lg'></i> Add Lesson
          <% end %>
          <% if current_user.admin? %>
            <%= link_to admin_index_path,
                class:'btn btn-danger' do %>
              <i class='fa fa-cogs fa-lg'></i> Admin
            <% end %>
            <%= link_to account_private_lessons_path(account_id: current_user.account_id),
                class:'btn btn-success' do %>
              <i class='fa fa-list fa-lg'></i> Open
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div ng-show='(completedAdminPrivateLessons
                  | orderBy:order.value:order.reverse
                  | filter:locationFilter
                  | filter:search).length' class='shadow-effect'>
      <table class='table table-clean table-white' >
        <thead>
          <tr>
            <th>
              <a href="" ng-click="predicate.value = '-user.last_name'; reverse=!reverse">
              Instructor</a>
            </th>
            <th class='hidden-xs'>Instructor Phone</th>
            <th class='hidden-xs'>
              <a href="" ng-click="predicate.value = '-parent_last_name'; reverse=!reverse">
              Parent</a>
            </th>
            <th class='hidden-xs'>Parent Phone</th>
            <th>Student</th>
            <th class='hidden-xs'>
              <a href="" ng-click="predicate.value = '-location.name'; reverse=!reverse">
              Location</a>
            </th>
            <th class='hidden-xs'>
              <a href="" ng-click="predicate.value = '-created_at'; reverse=!reverse">
              Submitted</a>
            </th>
            <th>
              <a href="" ng-click="predicate.value = '-claimed_on'; reverse=!reverse">
              Claimed</a>
            </th>
            <th class='hidden-xs'>
              <a href="" ng-click="predicate.value = '-completed_on'; reverse=!reverse">
              Completed</a>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='lesson in completedAdminPrivateLessons
            | orderBy:predicate.value:reverse
            | filter:locationFilter
            | filter:search
            | limitTo:totalDisplayed'>
            <td>
                <a ng-href='/users/{{::lesson.user.id}}'>
                  {{::lesson.user.last_name}}, {{::lesson.user.first_name}}
                </a>
            </td>
            <td class='hidden-xs'>
              <a ng-href='tel:{{::lesson.user.phone_number}}'>
                {{::lesson.user.phone_number}}
              </a>
            </td>
            <td class='hidden-xs'>
              {{::lesson.parent_last_name}}, {{::lesson.parent_first_name}}
            </td>
            <td class='hidden-xs'>
              <a ng-href='tel:{{::lesson.phone_number}}'>
                {{::lesson.phone_number}}
              </a>
            </td>
            <td>
              <div ng-repeat='participant in lesson.participants'>
                <a ng-href='/private_lessons/{{::lesson.id}}'>
                  {{::participant.last_name}}, {{::participant.first_name}} <br/>
                </a>
              </div>
            </td>
            <td class='hidden-xs'>{{::lesson.location.name}}</td>
            <td class='hidden-xs'>
              {{::lesson.created_at | date:'M/d/yy @ h:mma'}}
            </td>
            <td>
              {{::lesson.claimed_on | date:'M/d/yy @ h:mma'}}
            </td>
            <td>
              {{::lesson.completed_on | date:'M/d/yy @ h:mma'}}
            </td>
            <td>
              <%= link_to '/private_lessons/{{::lesson.id}}' do %>
                <i class='fa fa-external-link fa-lg'></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show='(completedAdminPrivateLessons
                  | orderBy:order.value:order.reverse
                  | filter:locationFilter
                  | filter:search).length > 10'>
      <dq-load-more></dq-load-more>
    </div>
    <div ng-hide='(completedAdminPrivateLessons
                  | orderBy:order.value:order.reverse
                  | filter:locationFilter
                  | filter:search).length'>
      <hr/>
      <center>
        <p>
          No private lessons match this search or none are claimed at this time.
            <%= link_to ' Click here to view the private lesson queue.',
                account_private_lessons_path(account_id: current_user.account_id) %>
        </p>
      </center>
    </div>
  </div>
</div>
