<div ng-app='digiquatics'>
  <div ng-controller='PrivateLessonsCtrl'>
    <% provide(:title, 'Private Lessons Queue') %>
    <h1 class='cross_platform_header'>Private Lessons Queue</h1>
    <div class='row'>
      <dq-location></dq-location>
      <div class='visible-xs'><br></div>
      <dq-search></dq-search>
      <div class='visible-xs'><br><br><br><br></div>
      <div class='col-md-2'></div>
      <div class='col-md-5 pull-right'>
        <div class='pull-right'>
          <%= link_to new_account_private_lesson_path(account_id: current_account.id),
              class:'btn btn-primary' do %>
            <i class='fa fa-plus fa-lg'></i> Add Lesson
          <% end %>
          <%= link_to admin_index_path,
              class:'btn btn-danger' do %>
            <i class='fa fa-cogs fa-lg'></i> Admin
          <% end %>
          <%= link_to private_lesson_stats_path,
              class:'btn btn-success' do %>
            <i class='fa fa-bar-chart-o fa-lg'></i> Analytics
          <% end %>
        </div>
      </div>
    </div>
    <div class='visible-xs'><br></div>
    <div class='hidden-xs'>
      <span class='legendRedCell'>
        <i class='fa fa-circle fa-border'></i>
      </span> 8+ Days
      <span class='legendYellowCell'>
        <i class='fa fa-circle fa-border'></i>
      </span> 4-7 Days
      <span class='legendGreenCell'>
        <i class='fa fa-circle fa-border'></i>
      </span> 1-3 Days
      <br><br>
    </div>
    <div ng-show='(privateLessons
                  | orderBy:order.value:order.reverse
                  | filter:locationFilter
                  | filter:search).length' class='shadow-effect'>
      <table class='table table-clean table-white' >
        <thead>
          <tr>
            <th class='visible-xs'>
              Name
            </th>
            <th class='hidden-xs'>
              Last Name
            </th>
            <th class='hidden-xs'>
              First Name
            </th>
            <th>
              Age
            </th>
            <th class='hidden-xs'>
              Gender
            </th>
            <th>
              <a href='' ng-click="predicate.value = '-location.name'; reverse=!reverse">
              Location
              </a>
              <span ng-show="thArrow(predicate.value, '-location.name')">
                <dq-arrow></dq-arrow>
              </span>
            </th>
            <th class='hidden-xs'>
              <a href="" ng-click="predicate.value = '-created_at'; reverse=!reverse">
              Date
              </a>
              <span ng-show="thArrow(predicate.value, '-created_at')">
                <dq-arrow></dq-arrow>
              </span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='lesson in privateLessons
            | orderBy:predicate.value:reverse
            | filter:locationFilter
            | filter:search
            | limitTo:totalDisplayed'>
            <td class='visible-xs'>
              <div ng-repeat='participant in lesson.participants'>
                <a ng-href='/private_lessons/{{::lesson.id}}'>
                  {{::participant.last_name}}, {{::participant.first_name}} <br/>
                </a>
              </div>
            </td>
            <td class='hidden-xs'>
              <div ng-repeat='participant in lesson.participants'>
                  {{::participant.last_name}} <br/>
              </div>
            </td>
            <td class='hidden-xs'>
              <div ng-repeat='participant in lesson.participants'>
                {{::participant.first_name}} <br/>
              </div>
            </td>
            <td>
              <div ng-repeat='participant in lesson.participants'>
                {{::participant.age}}
              </div>
            </td>
            <td class='hidden-xs'>
              <div ng-repeat='participant in lesson.participants'>
                {{::participant.sex}}
              </div>
            </td>
            <td>{{::lesson.location.name}}</td>
            <td ng-class='cssClass(lesson.created_at)'
                class='hidden-xs'>
                {{::lesson.created_at | date:'M/d/yy @ h:mma'}}
            </td>
            <td>
              <%= link_to '/private_lessons/{{::lesson.id}}' do %>
                <i class='fa fa-external-link fa-lg'></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show='(privateLessons
                  | orderBy:order.value:order.reverse
                  | filter:locationFilter
                  | filter:search).length > 10'>
      <dq-load-more></dq-load-more>
    </div>
    <div ng-hide='(privateLessons
                  | orderBy:order.value:order.reverse
                  | filter:locationFilter
                  | filter:search).length'>
      <hr/>
      <center>
        <p>
          No private lessons match this search or you have none yet.
          <%= link_to 'Click here to add a new private lesson.',
              new_account_private_lesson_path(account_id: current_account.id) %>
        </p>
      </center>
    </div>
  </div>
</div>
