<% provide(:title, 'My Lessons') %>
<h1>My Lessons</h1>

<br><br><br>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th><%= sortable "last_name" %></th>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "age" %></th>
      <th><%= sortable "sex" %></th>
      <th><%= sortable "ability_level", "Level" %></th>
      <th><%= sortable "day" %></th>
      <th><%= sortable "time" %></th>
      <th><%= sortable "preferred_location", "Location" %></th>
      <th><%= sortable "created_at", "Date" %></th>
    </tr>
  </thead>
  <tbody>
    <% @my_lessons.each do |private_lesson| %>
      <tr>
        <td><%= link_to private_lesson.last_name, private_lesson %></td>
        <td><%= link_to private_lesson.first_name, private_lesson %></td>
        <td><%= private_lesson.age           %></td>
        <td><%= private_lesson.sex           %></td>
        <td><%= private_lesson.ability_level %></td>
        <td><%= private_lesson.day           %></td>
        <td><%= private_lesson.time          %></td>
        <td><%= Location.find_by_id(private_lesson.preferred_location).name %>
          </td>
        <td><%= private_lesson.created_at.strftime('%-m/%-d/%Y') %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
