<% provide(:title, 'Lesson Request') %>

<h1>Lesson Request</h1>

<div class='table-width-desktop'>

  <div class='pull-left'>
    <%= link_to ' Back', account_private_lessons_path(account_id: current_user.account_id) ,
        class: 'glyphicon glyphicon-arrow-left' %>
  </div>

  <% unless @private_lesson.completed_on %>
    <ul class = 'pull-right'>
    <%= bootstrap_form_for @private_lesson do |f| %>
      <%= f.hidden_field :completed_on, value: Time.now %>
      <%= f.submit 'Mark Completed', class: 'btn btn-default btn-danger'  %>
    <% end %>
    </ul>
  <% else %>
    <ul class = 'pull-right'>
    <%= bootstrap_form_for @private_lesson do |f| %>
      <%= f.hidden_field :completed_on, value: nil %>
      <%= f.submit 'Mark Open', class: 'btn btn-default btn-danger'  %>
    <% end %>
    </ul>
  <% end %>


  <% unless @private_lesson.user_id %>
    <ul class = 'pull-right'>
    <%= bootstrap_form_for @private_lesson do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :claimed_on, value: Time.now %>
      <%= f.submit 'Claim Lesson', class: 'btn btn-default btn-success' %>
    <% end %>
    </ul>
  <% else %>
    <ul class = 'pull-right'>
    <%= bootstrap_form_for @private_lesson do |f| %>
      <%= f.hidden_field :user_id, value: nil %>
      <%= f.hidden_field :claimed_on, value: nil %>
      <%= f.submit 'Unclaim Lesson', class: 'btn btn-default btn-success' %>
    <% end %>
    </ul>
  <% end %>

  <% if current_user.admin? %>
    <ul class = 'pull-right'>
      <%= link_to 'Edit Lesson', edit_private_lesson_path(@private_lesson),
          class: 'btn btn-default btn-primary' %>
    </ul>
  <% end %>

  <br/><br/><br/>

  <% if current_user.admin? %>
    <div ng-app='digiquatics'>
      <div ng-controller='UsersCtrl' style='width: 300px;' class='pull-right'>
        <%= bootstrap_form_for @private_lesson do |f| %>
          <select ng-model='selectedUserId' class='form-control'>
            <option value=''>Select Employee</option>
            <option ng-repeat="user in users | orderBy: 'last_name'" value='{{user.id}}' name='private_lesson[user_id]'>
              {{user.last_name}}, {{user.first_name}}</option>
          </select>

          <%= f.hidden_field :user_id, value: "{{selectedUserId}}" %>
          <%= f.hidden_field :claimed_on, value: Time.now %>
          <%= f.submit 'Assign', class: 'btn btn-default btn-warning' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <br><br><br>

  <% if current_user.admin? %>
    <table class='table table-bordered table-condensed' >

      <h4> Instructor Information </h4>
      <tr>
         <th id='fixtablewidth'> Instructor Name </th>
        <td>
          <% if @private_lesson.user %>
            <%= link_to lessons_full_name(@private_lesson.user),
                user_path(id: @private_lesson.user.id)%>
          <% end %>
        </td>
      </tr>
      <tr>
        <th> Instructor Phone Number </th>
        <td>
          <% if @private_lesson.user %>
            <%= phone_number_link(@private_lesson.user.phone_number) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th> Instructor Email </th>
        <td>
          <% if @private_lesson.user %>
            <%= mail_to "{@private_lesson.user.email}" do %>
              <span><%= @private_lesson.user.email %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th> Instructor Location </th>
        <td>
          <% if @private_lesson.user %>
            <%= @private_lesson.user.location.name %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>

  <table class='table table-bordered table-condensed' >
    <h4> Parent Information </h4>
      <tr>
         <th id='fixtablewidth'> Name </th>
         <td> <%= "#{@private_lesson.parent_first_name} #{@private_lesson.parent_last_name}" %> </td>
      </tr>
      <tr>
        <th> Phone Number</th>
        <td> <%= phone_number_link(@private_lesson.phone_number) %> </td>
      </tr>
      <tr>
        <th> Email </th>
        <td>
          <%= mail_to "#{@private_lesson.email}" do %>
            <span> <%= @private_lesson.email %> </span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th> Preferred Contact Method </th>
        <td> <%= @private_lesson.contact_method %> </td>
      </tr>
  </table>

  <% @private_lesson.participants.each do |participant| %>
    <table class='table table-bordered' >
      <h4> Student Information </h4>
      <tr>
         <th id='fixtablewidth'> First Name </th>
        <td> <%= "#{participant.first_name} #{participant.last_name}" %> </td>
      </tr>
      <tr>
        <th> Gender</th>
        <td> <%= participant.sex %> </td>
      </tr>
      <tr>
        <th> Age </th>
        <td> <%= participant.age %> </td>
      </tr>
    </table>
  <% end %>

  <table class='table table-bordered' >
    <h4> Preferences </h4>
    <tr>
      <th> Location </th>
      <td>
        <% if @private_lesson.location %>
          <%= @private_lesson.location.name %>
        <% else %>
          No Preference
        <% end %>
      </td>
    </tr>
    <tr>
      <th id='fixtablewidth'> Special Requests </th>
      <td> <%= @private_lesson.notes %> </td>
    </tr>
    <tr>
      <th> Lesson Objectives </th>
      <td> <%= @private_lesson.lesson_objective %> </td>
    </tr>
  </table>

  <h4> Availability </h4>
  <table class='table table-bordered' >
    <tr>
      <th id='fixtablewidth'></th>
      <th class='lessons_table_cell'> Morning </th>
      <th class='lessons_table_cell'> Afternoon </th>
      <th class='lessons_table_cell'> Evening </th>
    </tr>
    <tr>
      <th> Sunday </th>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.sunday_morning)%>'>
        <%= boolean_to_words_lessons(@private_lesson.sunday_morning) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.sunday_afternoon)%>'>
        <%= boolean_to_words_lessons(@private_lesson.sunday_afternoon) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.sunday_evening)%>'>
        <%= boolean_to_words_lessons(@private_lesson.sunday_evening) %>
      </td>
    </tr>
    <tr>
      <th> Monday </th>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.monday_morning)%>'>
        <%= boolean_to_words_lessons(@private_lesson.monday_morning) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.monday_afternoon)%>'>
        <%= boolean_to_words_lessons(@private_lesson.monday_afternoon) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.monday_evening)%>'>
        <%= boolean_to_words_lessons(@private_lesson.monday_evening) %>
      </td>
    </tr>
    <tr>
      <th> Tuesday </th>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.tuesday_morning)%>'>
        <%= boolean_to_words_lessons(@private_lesson.tuesday_morning) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.tuesday_afternoon)%>'>
        <%= boolean_to_words_lessons(@private_lesson.tuesday_afternoon) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.tuesday_evening)%>'>
        <%= boolean_to_words_lessons(@private_lesson.tuesday_evening) %>
      </td>
    </tr>
    <tr>
      <th> Wednesday </th>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.wednesday_morning)%>'>
        <%= boolean_to_words_lessons(@private_lesson.wednesday_morning) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.wednesday_afternoon)%>'>
        <%= boolean_to_words_lessons(@private_lesson.wednesday_afternoon) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.wednesday_evening)%>'>
        <%= boolean_to_words_lessons(@private_lesson.wednesday_evening) %>
      </td>
    </tr>
    <tr>
      <th> Thursday </th>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.thursday_morning)%>'>
        <%= boolean_to_words_lessons(@private_lesson.thursday_morning) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.thursday_afternoon)%>'>
        <%= boolean_to_words_lessons(@private_lesson.thursday_afternoon) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.thursday_evening)%>'>
        <%= boolean_to_words_lessons(@private_lesson.thursday_evening) %>
      </td>
    </tr>
    <tr>
      <th> Friday </th>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.friday_morning)%>'>
        <%= boolean_to_words_lessons(@private_lesson.friday_morning) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.friday_afternoon)%>'>
        <%= boolean_to_words_lessons(@private_lesson.friday_afternoon) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.friday_evening)%>'>
        <%= boolean_to_words_lessons(@private_lesson.friday_evening) %>
      </td>
    </tr>
    <tr>
      <th> Saturday </th>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.saturday_morning)%>'>
        <%= boolean_to_words_lessons(@private_lesson.saturday_morning) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.saturday_afternoon)%>'>
        <%= boolean_to_words_lessons(@private_lesson.saturday_afternoon) %>
      </td>
      <td class='lessons_table_cell
                 <%=lesson_css_class(@private_lesson.saturday_evening)%>'>
        <%= boolean_to_words_lessons(@private_lesson.saturday_evening) %>
      </td>
    </tr>
  </table>

  <table class='table table-bordered' >
    <h4> Lesson Request </h4>
      <tr>
        <th id='fixtablewidth'> Number Lessons </th>
        <td> <%= @private_lesson.number_lessons %> </td>
      </tr>
  </table>
</div>

