<% provide(:title, lessons_full_name(@private_lesson)) %>

<h1><%= lessons_full_name(@private_lesson) %></h1>

<ul class = 'pull-right'>
<%= bootstrap_form_for @private_lesson do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit 'Claim Lesson'  %>
<% end %>
</ul>

<br> <br>

<div class='table-responsive'>
  <% if current_user.admin? %>
    <table class='table table-bordered table-condensed' >

      <h4> Instructor Information </h4>
      <tr>
         <th id='fixtablewidth'> Instructor Name </th>
        <td>
          <% if @private_lesson.user %>
            <%= lessons_full_name(@private_lesson.user) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th> Instructor Phone Number </th>
        <td>
          <% if @private_lesson.user %>
            <%= @private_lesson.user.phone_number %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th> Instructor Email </th>
        <td>
          <% if @private_lesson.user %>
            <%= @private_lesson.user.email %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th> Instructor Location </th>
        <td>
          <% if @private_lesson.user %>
            <%= @private_lesson.user.location.name %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
    <table class='table table-bordered table-condensed' >
      <h4> Parent Information </h4>
        <tr>
           <th id='fixtablewidth'> First Name </th>
          <td> <%= @private_lesson.parent_first_name %> </td>
        </tr>
        <tr>
          <th> Last Name </th>
          <td> <%= @private_lesson.parent_last_name %> </td>
        </tr>
        <tr>
          <th> Phone Number</th>
          <td> <%= @private_lesson.phone_number %> </td>
        </tr>
        <tr>
          <th> Email </th>
          <td> <%= @private_lesson.email %> </td>
        </tr>
        <tr>
          <th> Preferred Contact Method </th>
          <td> <%= @private_lesson.contact_method %> </td>
        </tr>
    </table>

    <table class='table table-bordered' >
      <h4> Student Information </h4>
        <tr>
           <th id='fixtablewidth'> First Name </th>
          <td> <%= @private_lesson.first_name %> </td>
        </tr>
        <tr>
          <th> Last Name </th>
          <td> <%= @private_lesson.last_name %> </td>
        </tr>
        <tr>
          <th> Gender</th>
          <td> <%= @private_lesson.sex %> </td>
        </tr>
        <tr>
          <th> Age </th>
          <td> <%= @private_lesson.age %> </td>
        </tr>
    </table>
  <table class='table table-bordered' >
    <h4> Preferences </h4>
      <tr>
        <th id='fixtablewidth'> Instructor Gender </th>
        <td> <%= @private_lesson.instructor_gender %> </td>
      </tr>
      <tr>
        <th> Special Requests </th>
        <td> <%= @private_lesson.notes %> </td>
      </tr>
      <tr>
        <th> Special Requests </th>
        <td> <%= @private_lesson.lesson_objective %> </td>
      </tr>
  </table>

  <table class='table table-bordered' >
    <h4> Lesson Request </h4>
      <tr>
        <th id='fixtablewidth'> Number Lessons </th>
        <td> <%= @private_lesson.number_lessons %> </td>
      </tr>
  </table>

  <%if current_user.admin? %>
    <%= link_to 'Edit', edit_private_lesson_path(@private_lesson) %>
  <% end %>
</div>
