<h2>Sign up</h2>

<% provide(:title, 'Create New User') %>

<%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :first_name, label: 'First Name' %>

  <%= f.text_field :nickname, label: 'Preferred Name' %>

  <%= f.text_field :last_name, label: 'Last Name' %>

  <%= f.email_field :email, :autofocus => true %>

  <%= f.text_field :phone_number, label: 'Phone Number' %>

  <%= f.password_field :password %>

  <%= f.password_field :password_confirmation %>

  <%= f.primary 'Create Account' %>
<% end %>

<%= render "devise/shared/links" %>
