<% provide(:title, 'Shift Report') %>

<div style='margin-left:0px;'>
  <h1 class='cross_platform_header'>Shift Report</h1>
</div>

<div class='table-width-desktop'>
  <ul class = 'pull-right'>
    <%= link_to edit_shift_report_path(@shift_report),
                class:'btn btn-default btn-primary' do %>
      <i class='fa fa-pencil fa-lg'></i> Edit Report
    <% end %>
  </ul>

  <div class='pull-left'>
    <%= link_to ' Back', shift_reports_path,
        class: 'glyphicon glyphicon-arrow-left' %>
  </div>

  <br>

  <table class='table table-bordered table-condensed' >
    <tr>
      <th style='width:25%'> Location </th>
        <td><%= @shift_report.location.name %></td>
    </tr>
    <tr>
      <th> Date Submitted </th>
        <td><%= @shift_report.created_at.strftime('%-m/%-d/%Y @ %I:%M%p') %></td>
    </tr>
    <tr>
      <th> Submitted By </th>
        <td>
          <%= link_to "#{@shift_report.user.last_name},
                       #{@shift_report.user.first_name}",
                       user_path(id: @shift_report.user.id) %>
        </td>
    </tr>
    <tr>
      <th>Incident / Accident Report Filed?</th>
        <td><%= boolean_to_words(@shift_report.report_filed) %></td>
    </tr>
    <tr>
      <th>Attachments</th>
        <td>
          <% if @shift_report.attachment_front? %>
            <%= link_to '', @shift_report.attachment_front.url,
            class: 'glyphicon glyphicon-list-alt' %>
          <% else %>
          <% end %>
          <% if @shift_report.attachment_back? %>
            <%= link_to '', @shift_report.attachment_back.url,
            class: 'glyphicon glyphicon-list-alt' %>
          <% else %>
          <% end %>
        </td>
    </tr>
    <tr>
      <th>Shift Report</th>
        <td><%= @shift_report.content %></td>
    </tr>
  </table>
</div>
