<% provide(:title, 'Shift Report') %>

<div style='margin-left:0px;'>
<div class='hidden-xs'><h1> Shift Report </h1></div>
<div class='visible-xs'><center><h4> Shift Report </h4></center></div>
</div>

<div class='table-width-desktop'>
  <ul class = 'pull-right'>
    <%= link_to 'Edit Shift Report', edit_shift_report_path(@shift_report),
        class: 'btn btn-default btn-primary' %>
  </ul>

  <div class='pull-left'>
    <%= link_to ' Back', shift_reports_path,
        class: 'glyphicon glyphicon-arrow-left' %>
  </div>

  <br>

  <table class='table table-bordered table-condensed' >
    <tr>
      <th style='width:25%'> Location </th>
        <td><%= @shift_report.location.name %></td>
    </tr>
    <tr>
      <th> Date Submitted </th>
        <td><%= @shift_report.created_at.strftime('%-m/%-d/%Y') %></td>
    </tr>
    <tr>
      <th> Submitted By </th>
        <td>
          <%= link_to "#{@shift_report.user.first_name}
                       #{@shift_report.user.last_name}",
                       user_path(id: @shift_report.user.id) %>
        </td>
    </tr>
    <tr>
      <th> Report Filed? </th>
        <td><%= boolean_to_words(@shift_report.report_filed) %></td>
    </tr>
    <tr>
      <th> Report Attachment </th>
        <td>
          <% if @shift_report.attachment_front? %>
            <%= link_to '', @shift_report.attachment_front.url,
            class: 'glyphicon glyphicon-list-alt' %>
          <% else %>
          <% end %>
          <% if @shift_report.attachment_back? %>
            <%= link_to '', @shift_report.attachment_back.url,
            class: 'glyphicon glyphicon-list-alt' %>
          <% else %>
          <% end %>
        </td>
    </tr>
    <tr>
      <th> Shift Report </th>
        <td><%= @shift_report.content %></td>
    </tr>
  </table>
</div>
