<label>Start Date *</label>

<div class='row'>
  <div class='col-md-12'>
     <%= render 'time_off_requests/form_elements/start_date' %>
  </div>
</div>

<%= f.hidden_field :starts_at,
                   value: "{{dt1 | date:'yyyy-MM-dd'}}
                           {{allDayStartTime | date:'HH:mm:ss Z' }}" %>

<br><br>

<label>End Date *</label>

<div class='row'>
  <div class='col-md-12'>
     <%= render 'time_off_requests/form_elements/end_date' %>
  </div>
</div>

<%= f.hidden_field :ends_at,
                   value: "{{dt2 | date:'yyyy-MM-dd'}}
                           {{allDayEndTime | date:'HH:mm:ss Z' }}" %>

<%= f.hidden_field :all_day, value: true %>
