<label>Start Date *</label>
<div class='row'>
  <div class='col-md-8 col-xs-12'>
    <div class='fix_angular_date_picker'>
     <dq-start-date></dq-start-date>
    </div>
  </div>
  <div class='col-md-4 col-xs-12'>
    <%= render 'time_off_requests/form_elements/start_time' %>
  </div>
</div>

<%= f.hidden_field :starts_at,
                   value: "{{dt1 | date:'yyyy-MM-dd'}}
                           {{partialDayStartTime | date:'HH:mm:ss Z' }}" %>

<br><br>

<label>End Date *</label>
<div class='row'>
  <div class='col-md-8 col-xs-12'>
    <div class='fix_angular_date_picker'>
     <dq-end-date></dq-end-date>
    </div>
  </div>
  <div class='col-md-4 col-xs-12'>
    <%= render 'time_off_requests/form_elements/end_time' %>
  </div>
</div>

<%= f.hidden_field :ends_at,
                   value: "{{dt2 | date:'yyyy-MM-dd'}}
                           {{partialDayEndTime | date:'HH:mm:ss Z' }}" %>

<%= f.hidden_field :all_day, value: false %>
