<label>Start Time *</label>

<div class='row'>
  <div class='col-md-4 col-xs-12'>
    <%= render 'time_off_requests/form_elements/start_time' %>
  </div>
  <div class='col-md-8 col-xs-12'>
    <div class='fix_angular_date_picker'>
     <%= render 'time_off_requests/form_elements/start_date' %>
    </div>
  </div>
</div>

<%= f.hidden_field :starts_at,
                   value: "{{dt1 | date:'yyyy-MM-dd'}}
                           {{mytime | date:'HH:mm:ss Z' }}" %>

<br><br>

<label>End Time *</label>
<div class='row'>
  <div class='col-md-4 col-xs-12'>
    <%= render 'time_off_requests/form_elements/end_time' %>
  </div>
  <div class='col-md-8 col-xs-12'>
    <div class='fix_angular_date_picker'>
     <%= render 'time_off_requests/form_elements/end_date' %>
    </div>
  </div>
</div>

<%= f.hidden_field :ends_at,
                   value: "{{dt2 | date:'yyyy-MM-dd'}}
                           {{mytime2 | date:'HH:mm:ss Z' }}" %>
