<div class='userform well'>
  <%= bootstrap_form_for(@certification_name,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>
    <%= content_tag(:legend, legend) unless !legend %>
    <p> * Indicates required field </p>
    <%= f.text_field :name %>
      <%= f.form_group do %>
        <%= f.primary %>
      <% end %>
  <% end %>
</div>
</div>


