<h1 class='cross_platform_header'>Admin</h1>
<%= f.select :location_id,
  options_from_collection_for_select(Location.same_account_as(current_user),
                                     :id,
                                     :name, @user.location_id) %>
<%= f.select :position_id,
  options_from_collection_for_select(Position.same_account_as(current_user),
                                     :id,
                                     :name, @user.position_id) %>
<%= f.text_field :grouping, label: 'Grouping' %>
<%= f.text_field :employee_id, label: 'Employee ID' %>
<%= f.text_field :payrate,prepend: "$", label: 'Pay Rate' %>
<div class='date-select'>
 <%= f.date_select :date_of_hire, { start_year: Time.now.year,
  end_year: Time.now.year-30, order: [:month, :day, :year], prompt: true},
    label: 'Date of Hire'  %>
</div>
<%= f.select :chemical_records_access, [['Yes', true], ['No', false]] %>
<%= f.select :private_lesson_access, [['Yes', true], ['No', false]] %>

<center><h4>Certifications</h4></center>
<%= f.fields_for :certifications do |builder| %>
<div id='certifications'><%= render 'certification_fields', f: builder %></div>
<% end %>

<%= link_to_add_fields(
  raw('<i class="glyphicon glyphicon-plus-sign glyphicon-2x"></i>'),
  f, :certifications) %>

<br><br>

<div id='notes'>
  <%= f.text_area :notes, size: '2x',
    placeholder: 'Leave a comment...' %>
</div>
