<fieldset>
  <div class="col-md-11">
    <%= f.select :certification_name_id,
      options_from_collection_for_select(CertificationName.same_account_as(current_user), :id, :name, f.object.certification_name_id) %>

    <div class="date-select">
     <%= f.date_select :issue_date, { start_year: Time.now.year,
      end_year: Time.now.year-30, order: [:month, :day, :year], prompt: true},
        label: 'Issue Date'  %>
    </div>

    <div class="date-select">
     <%= f.date_select :expiration_date, { start_year: Time.now.year,
      end_year: Time.now.year-30, order: [:month, :day, :year], prompt: true},
        label: 'Expiration Date'  %>
    </div>

    <%= f.file_field :attachment %>
  </div>

  <div class="col-md-1">
    <%= f.hidden_field :_destroy %>
    <%= link_to raw('<i class="glyphicon glyphicon-remove glyphicon-2x"></i>'),
      '#', class: 'remove_fields' %>
  </div>
</fieldset>
