<div class='userform well'>
  <%= bootstrap_form_for(@user,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>
    <legend><%= legend %></legend>
    <p> * Indicates required field </p>
    <%= render 'basic_user_fields', f: f %>

    <% unless f.object.new_record? %>
      <%= render 'additional_user_fields', { f: f, user: @user } %>

      <% if signed_in? && current_user.admin? %>
        <%= render 'admin_fields', f: f %>
      <% end %>
    <% end %>

    <%= f.primary(f.object.new_record? ?  'Create Account' : 'Save Changes') %>
  <% end %>
</div>
</div>
