<div class='userform well'>
  <%= bootstrap_form_for(@user,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>

    <%= render 'shared/error_messages' %>

    <legend><%= legend %></legend>

    <%= f.file_field :avatar, label: 'User Avatar' %>

    <%= f.text_field :first_name, label: 'First Name' %>
    <%= f.text_field :nickname, label: 'Preferred Name' %>
    <%= f.text_field :last_name, label: 'Last Name' %>
    <%= f.text_field :address1, label: 'Address 1' %>
    <%= f.text_field :address2, label: 'Address 2' %>
    <%= f.text_field :city, label: 'City' %>
    <%= f.text_field :state, label: 'State' %>
    <%= f.text_field :zipcode, label: 'Zipcode' %>

    <%= f.text_field :email %>
    <%= f.text_field :emergency_first, label: 'Emergency First' %>
    <%= f.text_field :emergency_last, label: 'Emergency Last' %>
    <%= f.text_field :emergency_phone, label: 'Emergency Phone' %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation, label: 'Confirm Password' %>
    <%= f.select :sex, %w[M F]%>
    <%= f.select :shirt_size, %w[XS S M L XL XXL], {}, label: 'Shirt Size' %>
    <%= f.select :suit_size, %w[XS S M L XL XXL],  {}, label: 'Shorts Size' %>
    <%= f.select :femalesuit, %w[28 30 32 34 36 38 40], {},
      label: 'One Piece Size (F)' if f.object.new_record? || user.sex == 'F' %>

    <div class='date-select'>
      <%= f.date_select :date_of_birth, { start_year: Time.now.year,
        end_year: 1900, order: [:month, :day, :year], prompt: true},
          label: 'Date of Birth' %>
    </div>



    <%= f.text_field :phone_number, label: 'Phone Number' %>
    <%= f.select :location_id,
      options_from_collection_for_select(Location.all, :id, :name) %>
    <%= f.select :position_id,
      options_from_collection_for_select(Position.all, :id, :name) %>

    <%= render 'admin_form' %>

    <% if false %>

    <h4>Certifications</h4>
      <%= f.fields_for :certifications do |builder| %>
          <b><%= builder.object.certification_name.name %></b>
          <%= builder.text_field :issue_date,
            :value => (builder.object.issue_date.strftime('%-m/%-d/%Y')) %>
          <%= builder.text_field :expiration_date,
            :value => (builder.object.expiration_date.strftime('%-m/%-d/%Y')) %>
          <%= builder.file_field :attachment %>
      <% end %>
      <% end %>

        <%= f.primary ( f.object.new_record? ?  'Create Account' :
        'Save Changes' ) %>

  <% end %>
</div>
</div>
