<tr>
  <td>
    <%= user.first_name %>
  </td>
  <td>
    <%= user.last_name %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.phone_number %>
  </td>
  <% formatted_date = user.date_of_birth.strftime('%-m/%d/%Y') %>
  <td>
    <%= formatted_date %>
  </td>
</tr>