  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-hover">
  <tr>
    <th><%= sortable "first_name", "First Name"%></th>
    <th><%= sortable "last_name", "Last Name"%></th>
    <th><%= sortable "sex", "Sex"%></th>
    <th><%= sortable "date_of_birth", "DOB"%></th>
    <th><%= sortable "location", "Location" %></th>
    <th><%= sortable "position", "Position"%></th>
    <th><%= sortable "email", "Email Address" %></th>
    <th><%= sortable "phone_number", "Phone Number"%></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
    <td>
      <%= link_to user.first_name, user  %>
    </td>
    <td>
      <%= link_to user.last_name, user %>
    </td>
      <td>
      <%= user.sex %>
    </td>
    <td>
      <%= user.date_of_birth.strftime('%-m/%-d/%Y') %>
    </td>
    <td>
      <%= user.location.name %>
    </td>
    <td>
      <%= user.position.name %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
      <%= user.phone_number %>
    </td>
  </tr>
  <% end %>
</table>


