<tr>
  <td>
    <%= user.first_name %>
  </td>
  <td>
    <%= user.last_name %>
  </td>
  <td>
    <%= user.location_id %>
  </td>
  <td>
    <%= user.position_id %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.phone_number %>
  </td>
</tr>
