<% provide(:title, "Edit user") %>
<div class="row">
  <div class="userform">
    <%= bootstrap_form_for @user do |f| %>
      <%= render 'shared/error_messages' %>

      <legend>Update My Profile</legend>

      <%= f.text_field :first_name, label: 'First Name' %>
      <%= f.text_field :last_name, label: 'Last Name' %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation, label: 'Confirm Password' %>
      <%= f.select :sex, %w[M F]%>
      <%= f.select :shirt_size, %w[XS S M L XL XXL], {}, label: 'Shirt Size' %>
      <%= f.select :suit_size, %w[XS S M L XL XXL],  {}, label: 'Shorts Size' %>
      <%= f.select :femalesuit, %w[28 30 32 34 36 38 40], {}, label: 'One Piece Size (F)' if @user.sex == 'F' %>
      <%= f.text_field :date_of_birth, :value => f.object.date_of_birth.strftime('%Y-%m-%d'), label: 'Date of Birth' %>
      <%= f.text_field :date_of_hire, :value => f.object.date_of_hire.strftime('%Y-%m-%d'), label: 'Date of Hire'  %>
      <%= f.text_field :phone_number, label: "Phone Number" %>

      <%= f.select :location_id, options_from_collection_for_select(Location.all, :id, :name) %>
      <%= f.select :position_id, options_from_collection_for_select(Position.all, :id, :name) %>

      <h4>Certifications</h4>

      <%= f.fields_for :certifications do |cert| %>
        <%= cert.text_field :expiration_date, :value=> cert.object.expiration_date.strftime('%Y-%m-%d'), label: 'Issued Date (yyyy-mm-dd)'  %>
        <%= cert.text_field :expiration_date, :value=> cert.object.expiration_date.strftime('%Y-%m-%d'), label: 'Expiration Date (yyyy-mm-dd)'  %>
        <%= cert.file_field :attachment %>
      <% end %>

      <h4>User Classification</h4>
      <%= f.check_box :admin, style: "width: 20px; height: 50px;" %>
      <%= f.check_box :active, style: "width: 20px; height: 50px;" %>       

      <%= f.primary "Save changes" %>

    <% end %>
  </div>
</div>