<% provide(:title, 'Edit Employee') %>
<div class='userform well'>
  <%= bootstrap_form_for(@user,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>
    <div class='hidden-xs'><legend>Edit Employee</legend></div>
    <div class='visible-xs'><center><h4>Edit Employee</h4></center></div>
    <%= render 'shared/required' %>
    <div id='basic'><%= render 'basic_user_fields', f: f %></div>
    <div id='additional'>
      <%= render 'additional_user_fields', { f: f, user: @user } %>
    </div>
    <% if signed_in? && current_user.admin? %>
      <%= render 'admin_fields', f: f, user: @user %>
    <% end %>
    <button type='submit' class='btn btn-block btn-primary'>
      <i class='fa fa-refresh'></i> Update Employee Information
    </button>
  <% end %>
</div>
</div>
