<div ng-app='digiquatics'>
  <div ng-controller='UsersCtrl'>
    <% provide(:title, 'Active Employees') %>
    <h1 class='cross_platform_header'>Active Employees</h1>
    <div class='row'>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <div class='visible-xs'><br></div>
      <dq-search></dq-search>
      <div class='col-md-1'></div>
      <div class='col-md-5'>
        <% if signed_in? && current_user.admin? %>
          <div class='hidden-xs pull-right'>
            <%= link_to new_user_path,
                class:'btn btn-primary' do %>
              <i class='fa fa-plus fa-lg'></i>
              Add Employee
            <% end %>

            <% if current_user.admin? %>
              <%= link_to inactive_index_path,
                  class:'btn btn-danger' do %>
                <i class='fa fa-archive fa-lg'></i>
                Inactive Employees
              <% end %>
            <% end %>

            <%= link_to user_stats_path,
                class:'btn btn-success' do %>
              <i class='fa fa-line-chart fa-lg'></i>
              Analytics
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='hidden-xs'>
      <div><i class='fa fa-star star'></i> New</div>
    </div>
    <br>
    <%= render 'index' %>
  </div>
</div>
