<div ng-app='digiquatics'>
  <div ng-controller='UsersCtrl'>
    <% provide(:title, 'Active Employees') %>
    <h1 class='cross_platform_header'>Active Employees</h1>
    <div class='row'>
      <dq-search></dq-search>
      <div class='visible-xs'><br></div>
      <%= render 'layouts/location_select' %>
      <div class='col-md-3'></div>
      <div class='col-md-4'>
        <% if signed_in? && current_user.admin? %>
          <div class='btn-group hidden-xs pull-right'>
            <%= link_to(new_user_path,
                class:'btn btn-sm btn-primary') do %>
              <i class='fa fa-plus fa-lg'></i> Add Employee
            <% end %>
            <% if current_user.admin? %>
              <%= link_to(inactive_index_path,
                  class:'btn btn-sm btn-danger') do %>
                <i class='fa fa-cogs fa-lg'></i> Manage Inactive
              <% end %>
            <% end %>
            <%= link_to(user_stats_path,
                class:'btn btn-sm btn-success') do %>
              <i class='fa fa-bar-chart-o fa-lg'></i> Statistics
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='hidden-xs'>
      <div><i class="fa fa-star star"></i> New</div>
    </div>
    <br>
    <%= render 'users' %>
  </div>
</div>
