<% provide(:title, "#{@user.first_name} #{@user.last_name.each_char.first}.") %>
<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<br>

<div class='table-width-desktop'>
  <div class='pull-right hidden-xs'>
    <%= link_to edit_user_path(@user),
                class:'btn btn-default btn-primary' do %>
      <i class='fa fa-pencil fa-lg'></i> Edit Profile
    <% end %>

    <div class='btn-group'>
      <button type='button' class='btn btn-default btn-success dropdown-toggle'
              data-toggle='dropdown'>
        <span class='fa fa-user fa-lg'></span> My Information
        <span class='caret'></span>
      </button>
      <ul class='dropdown-menu' role='menu'>
        <li><%= link_to 'My Availability', availabilities_path %></li>
        <li><%= link_to 'My Private Lessons', my_lessons_path %></li>
        <li><%= link_to 'My Schedule', my_schedule_path %></li>
        <li><%= link_to 'My Sub Requests', my_sub_requests_path %></li>
        <li><%= link_to 'My Time Off', my_time_off_requests_path %></li>
      </ul>
    </div>
  </div>

  <div class='visible-xs pull-right'>
    <%= link_to edit_user_path(@user),
                class:'btn btn-sm btn-primary' do %>
      <i class='fa fa-pencil fa-lg'></i> Edit Profile
    <% end %>
    <div class='btn-group'>
      <button type='button' class='btn btn-sm btn-success dropdown-toggle'
              data-toggle='dropdown'>
        <span class='fa fa-user fa-lg'></span> My Information
        <span class='caret'></span>
      </button>
      <ul class='dropdown-menu' role='menu'>
        <li><%= link_to 'Availability', availabilities_path %></li>
        <li><%= link_to 'Lessons', my_lessons_path %></li>
        <li><%= link_to 'Schedule', my_schedule_path %></li>
        <li><%= link_to 'Sub Requests', my_sub_requests_path %></li>
        <li><%= link_to 'Time Off', my_time_off_requests_path %></li>
      </ul>
    </div>
  </div>

  <div class='pull-left hidden-xs'>
    <%= link_to users_path,
        class:'btn btn-default btn-circle' do %>
      <i class='fa fa-arrow-left fa-lg'></i>
    <% end %>
  </div>

  <br>

  <div id='shift_buttons_users_profile' class='hidden-xs'>

    <% if @user != current_user && current_user.admin? %>
      <ul class='pull-right'>
        <% if @user.active? %>
          <%= bootstrap_form_for @user do |f| %>
            <%= f.hidden_field :active, value: false %>
            <%= f.submit 'Deactivate' %>
          <% end %>
        <% else %>
          <%= bootstrap_form_for @user do |f| %>
            <%= f.hidden_field :active, value: true %>
            <%= f.submit 'Activate'  %>
          <% end %>
        <% end %>
      </ul>
      <ul class='pull-right'>
        <% if @user.admin? %>
          <%= bootstrap_form_for @user do |f| %>
            <%= f.hidden_field :admin, value: false %>
            <%= f.submit 'Remove Admin', onclick:
              'return confirm("Are you sure you want to remove admin rights?")'  %>
          <% end %>
        <% else %>
          <%= bootstrap_form_for @user do |f| %>
            <%= f.hidden_field :admin, value: true %>
            <%= f.submit 'Add Admin' %>
          <% end %>
        <% end %>
      </ul>
    <% end %>

  </div>

  <br><br><br>

  <div class='hidden-xs'>
    <% if current_user.admin? %>
      <div ng-app='digiquatics'>
        <div ng-controller='UsersCtrl' class='pull-right user_search_form'>
          <select ng-model='selectedUserId' class='form-control'>
            <option value=''>Select Employee</option>
            <option ng-repeat="user in users | orderBy: 'last_name'"
                    value='{{user.id}}' name='private_lesson[user_id]'>
              {{user.last_name}}, {{user.first_name}}</option>
          </select>
        <%= link_to '/users/{{selectedUserId}}',
                    class:'btn btn-default btn-info user_search_form' do %>
          <i class='fa fa-exchange'></i> Change Employee
        <% end %>
        </div>
      </div>
      <br><br><br><br><br><br>
    <% end %>
  </div>

  <h4>
    Basic Employee Information
    <%= link_to ' Edit', "/users/#{@user.id}/edit#basic",
        class: 'glyphicon glyphicon-pencil pull-right hidden-xs',
        style: 'font-size: 80%' %>
  </h4>
  <table class='table table-clean table-white shadow-effect' >
    <tr>
      <th style='width:25%'>Phone Number</th>
      <td>
        <% if @user.phone_number? %>
          <%= phone_number_link(@user.phone_number) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td>
      <%= mail_to "#{ @user.email}" do %>
        <span> <%= @user.email %> </span>
      <% end %>
      </td>
    </tr>
    <tr>
      <th style='width:25%'>Location </th>
      <td>
        <% if @user.location %>
          <%= @user.location.name %>
        <% else %>
          Please update location information on user edit page
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Position</th>
      <td>
        <% if @user.position %>
          <%= @user.position.name %>
        <% else %>
          Please update position information on user edit page
        <% end %>
      </td>
    </tr>
  </table>
  <br><br>

  <h4>
    Additional Employee Information
    <%= link_to ' Edit', "/users/#{@user.id}/edit#additional",
        class: 'glyphicon glyphicon-pencil pull-right hidden-xs',
        style: 'font-size: 80%' %>
  </h4>
  <table class='table table-clean table-white shadow-effect' >
    <tr>
      <th style='width:25%'> DOB </th><td><%= @user.date_of_birth ?
        "#{@user.date_of_birth.strftime('%-m/%-d/%Y')} (#{age(@user.date_of_birth)} Years Old)" : '-' %></td>
    </tr>
    <tr>
      <th>Sex</th>
      <td><%= @user.sex %></td>
    </tr>
    <tr>
      <th>Secondary Phone#</th>
      <td>
        <% if @user.secondary_phone_number? %>
          <%= phone_number_link(@user.secondary_phone_number) %>
          <% end %>
      </td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= "#{@user.address1} #{@user.address2}" %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @user.city %></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= @user.state %></td>
    </tr>
    <tr>
      <th>Zip Code</th>
      <td><%= @user.zipcode %></td>
    </tr>
  </table>
  <br><br>

  <h4>
    Sizing Information
    <%= link_to ' Edit', "/users/#{@user.id}/edit#sizing",
        class: 'glyphicon glyphicon-pencil pull-right hidden-xs',
        style: 'font-size: 80%' %>
  </h4>
  <table class='table table-clean table-white shadow-effect' >
    <tr>
      <th style='width:25%'>Shirt Size </th>
      <td><%= @user.shirt_size %></td>
    </tr>
    <tr>
      <th>Suit Size</th>
      <td><%= @user.suit_size %></td>
    </tr>
    <% if @user.sex == 'F' %>
      <tr>
        <th>One Piece Size</th>
        <td><%= @user.femalesuit %></td>
      </tr>
    <% end %>
  </table>
  <br><br>

  <h4>
    Emergency Contact Information
    <%= link_to ' Edit', "/users/#{@user.id}/edit#emergency",
        class: 'glyphicon glyphicon-pencil pull-right hidden-xs',
        style: 'font-size: 80%' %>
  </h4>
  <table class='table table-clean table-white shadow-effect' >
    <tr>
      <th style='width:25%'> Emergency Contact </th>
      <td><%= "#{@user.emergency_first} #{@user.emergency_last}" %></td>
    </tr>
    <tr>
      <th>Emergency Phone Number</th>
      <td>
        <% if @user.emergency_phone? %>
          <%= phone_number_link(@user.emergency_phone) %>
          <% end %>
        </td>
    </tr>
  </table>
  <br><br>

  <% if signed_in? && current_user.admin? %>
    <h4>
      Admin
      <%= link_to ' Edit', "/users/#{@user.id}/edit#admin",
          class: 'glyphicon glyphicon-pencil pull-right hidden-xs',
          style: 'font-size: 80%' %>
    </h4>
    <table class='table table-clean table-white shadow-effect' >
      <tr>
      <th>Grouping</th>
        <td><%= @user.grouping%></td>
      </tr>
      <tr>
      <th>Employee ID</th>
        <td><%= @user.employee_id %></td>
      </tr>
      <tr>
      <th>Pay Rate</th>
        <td>
          <% if @user.payrate? %>
          <%= number_to_currency(@user.payrate) %>/hr
          <% end %>
        </td>
      </tr>
      <tr>
        <th>DOH</th>
        <td>
          <%= @user.date_of_hire ?
                @user.date_of_hire.strftime('%-m/%-d/%Y') : '-' %>
        </td>
      </tr>
      <tr>
      <th>Admin</th>
        <td><%= boolean_to_words(@user.admin) %></td>
      </tr>
      <tr>
      <th>Active</th>
        <td><%= boolean_to_words(@user.active) %></td>
      </tr>
      <tr>
      <th>Chemical Records Access</th>
        <td>
          <%= boolean_to_words(@user.chemical_records_access) %>
        </td>
      </tr>
      <tr>
      <th>Private Lesson Access</th>
        <td>
          <%= boolean_to_words(@user.private_lesson_access) %>
        </td>
      </tr>
    </table>
    <br><br>
  <% end %>

  <h4>
    Certification Information
  </h4>
  <div class='pull-left'>
    <span class='legendRedCell'>
      <i class='fa fa-circle fa-border'></i>
    </span> Expired
    <span class='legendYellowCell'>
      <i class='fa fa-circle fa-border'></i>
    </span> Expires within 90 days
    <span class='legendBlue'>
      <i class='fa fa-circle fa-border'></i>
    </span> Expires in 90 to 180 days
    <span class='legendGreenCell'>
      <i class='fa fa-circle fa-border'></i>
    </span> Current
    </div>
    <div class='pull-right'>
      <p>
      <%= link_to ' Edit', "/users/#{@user.id}/edit#certifications",
          class: 'glyphicon glyphicon-pencil pull-right hidden-xs',
          style: 'font-size: 80%' %>
      </p>
    </div>
    <table class='table table-clean table-white shadow-effect' >
      <thead>
        <tr>
          <th class='fixtablewidth'>Certification Name</th>
          <% @user.certifications.each do |cert| %>
          <th><%= cert.certification_name.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr><th>Issue Date</th>
          <% @user.certifications.each do |cert| %>
            <td>
              <%= cert.issue_date.strftime('%-m/%-d/%Y') if cert.issue_date %>
            </td>
          <% end %>
        </tr>
        <tr><th>Expiration Date</th>
          <% @user.certifications.each do |cert| %>
            <td class=<%=css_class(cert.expiration_date)%>>
              <%= cert.expiration_date.strftime('%-m/%-d/%Y') %>
            </td>
          <% end %>
        </tr>
        <tr>
          <th>Attached File (PDF)</th>
          <% @user.certifications.each do |cert| %>
            <th>
              <% if cert.attachment? %>
                <%= link_to '', cert.attachment.url,
                    class: 'glyphicon glyphicon-download-alt' %>
              <% end %>
            </th>
          <% end %>
        </tr>
      </tbody>
    </table>
    <br><br>

  <% if signed_in? && current_user.admin? %>
    <h4>
      Notes
      <%= link_to ' Edit', "/users/#{@user.id}/edit#notes",
          class: 'glyphicon glyphicon-pencil pull-right hidden-xs',
          style: 'font-size: 80%' %>
    </h4>
    <table class='table table-clean table-white shadow-effect'>
      <tr>
        <td>
          <% if !@user.notes? %>
            <p> Please click the pencil to add notes </p>
          <% end %>
          <%= @user.notes %>
        </td>
      </tr>
    </table>
    <br><br>
  <% end %>
</div>
