<div id='shift-assigner-popover'></div>
<table class='table table-hover table-condensed table-bordered print-schedule-font'>
  <thead>
    <tr>
      <th class='hidden-print'>
        <a href="" ng-click="predicate.value = '-last_name'; reverse=!reverse">
          Full Name
        </a>
      </th>
      <th class='visible-print'>
        Full Name
      </th>
      <th class='lessons_table_cell'>
        {{weekStart().format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(1).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(2).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(3).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(4).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(5).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(6).format('ddd, MMM D')}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='user in users | orderBy:predicate.value:reverse |
                   filter:locationFilter | filter:positionFilter'>
      <td class='hidden-print'>
        <a ng-href='/users/{{user.id}}'>
          {{user.last_name}}, {{user.first_name}}
        </a>
        <br/>
        {{user.position.name}} (Age {{user.date_of_birth | age}})
        <br/>
        (30 - 40 - 1000)
      </td>
      <td class='visible-print'>
        {{user.last_name}}, {{user.first_name}}
      </td>
      <td>
        <div ng-repeat='shift in user.shifts'>
          <div ng-show="showShift('{{shift.start_time | date:'yyyy-MM-dd'}}',
          {{weekStart()}} )">
            <%= render 'shifts/week_views/week_view_shift' %>
          </div>
        </div>

        <div ng-repeat='time_off in user.time_off_requests'>
          <%= render 'shifts/week_views/week_view_time_off_request' %>
        </div>

        <div ng-repeat="avail in user.availabilities | filter: { day: 0 }">
          <%= render 'shifts/week_views/week_view_availability' %>
        </div>

        <dq-shift-assigner-popover
          date="{{weekStart()}}"
          user='user'
          positions='positions'>
        </dq-shift-assigner-popover>
      </td>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td>
        <div ng-repeat="shift in user.shifts | filter: { start_time: '2014-07-19' }">
          <%= render 'shifts/week_views/week_view_shift' %>
        </div>

        <div ng-repeat="avail in user.availabilities | filter: { day: 6 }">
          <%= render 'shifts/week_views/week_view_availability' %>
        </div>

        <dq-shift-assigner-popover
          date="{{weekStart(6)}}"
          user='user'
          positions='positions'>
        </dq-shift-assigner-popover>

      </td>
  </tbody>
</table>
