<div id='shift-assigner-popover'></div>
<table class='table table-bordered print-schedule-font'>
  <thead>
    <tr>
      <th>
        Last, First
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(0).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(1).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(2).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(3).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(4).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(5).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(6).format('ddd, MMM D')}}
      </th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat='user in users | orderBy:predicate.value:reverse |
                   filter:locationFilter | filter:positionFilter'>
        <td>
          {{user.last_name}}, </br>
          {{user.first_name}}
        </td>

        <td>
          <div ng-if="build()">
            <div ng-if="sameDayTimeOff(time_off.starts_at, time_off.ends_at, 0)"
                 ng-repeat="time_off in user.time_off_requests | orderBy:'starts_at'">
              <%= render 'shifts/week_views/week_view_time_off_request' %>
            </div>

            <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter: { day: 0 }">
              <%= render 'shifts/week_views/week_view_availability' %>
            </div>
          </div>

          <div ng-if="sameDay(shift.start_time, 0)"
               ng-repeat="shift in user.shifts | orderBy:'start_time'">
            <%= render 'shifts/week_views/week_view_shifts' %>
          </div>

          <div ng-if="build()">
            <div class='shift'
              ng-click="openNew(user, 0, 'sm')"
              data-hover='Assign Shift'>
            </div>
          </div>
        </td>

        <td>
          <div ng-if="build()">
            <div ng-if="sameDayTimeOff(time_off.starts_at, time_off.ends_at, 1)"
                 ng-repeat="time_off in user.time_off_requests | orderBy:'starts_at'">
              <%= render 'shifts/week_views/week_view_time_off_request' %>
            </div>


            <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter: { day: 1 }">
              <%= render 'shifts/week_views/week_view_availability' %>
            </div>
          </div>

          <div ng-if="sameDay(shift.start_time, 1)"
               ng-repeat="shift in user.shifts | orderBy:'start_time'">
            <%= render 'shifts/week_views/week_view_shifts' %>
          </div>

          <div ng-if="build()">
            <div class='shift'
              ng-click="open(user, 1)"
              data-hover='Assign Shift'>
            </div>
          </div>
        </td>

        <td>
          <div ng-if="build()">
            <div ng-if="sameDayTimeOff(time_off.starts_at, time_off.ends_at, 2)"
                 ng-repeat="time_off in user.time_off_requests | orderBy:'starts_at'">
              <%= render 'shifts/week_views/week_view_time_off_request' %>
            </div>

            <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter: { day: 2 }">
              <%= render 'shifts/week_views/week_view_availability' %>
            </div>
          </div>

          <div ng-if="sameDay(shift.start_time, 2)"
               ng-repeat="shift in user.shifts | orderBy:'start_time'">
            <%= render 'shifts/week_views/week_view_shifts' %>
          </div>

          <div ng-if="build()">
            <div class='shift'
                 ng-click="open(user, 2)"
                 data-hover='Assign Shift'>
            </div>
          </div>
        </td>

        <td>
          <div ng-if="build()">
            <div ng-if="sameDayTimeOff(time_off.starts_at, time_off.ends_at, 3)"
                 ng-repeat="time_off in user.time_off_requests | orderBy:'starts_at'">
              <%= render 'shifts/week_views/week_view_time_off_request' %>
            </div>

            <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter: { day: 3 }">
              <%= render 'shifts/week_views/week_view_availability' %>
            </div>
          </div>

          <div ng-if="sameDay(shift.start_time, 3)"
               ng-repeat="shift in user.shifts | orderBy:'start_time'">
            <%= render 'shifts/week_views/week_view_shifts' %>
          </div>

          <div ng-if="build()">
            <div class='shift'
                 ng-click="open(user, 3)"
                 data-hover='Assign Shift'>
            </div>
          </div>
        </td>

        <td>
          <div ng-if="build()">
            <div ng-if="sameDayTimeOff(time_off.starts_at, time_off.ends_at, 4)"
                 ng-repeat="time_off in user.time_off_requests | orderBy:'starts_at'">
              <%= render 'shifts/week_views/week_view_time_off_request' %>
            </div>

            <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter: { day: 4 }">
              <%= render 'shifts/week_views/week_view_availability' %>
            </div>
          </div>

          <div ng-if="sameDay(shift.start_time, 4)"
               ng-repeat="shift in user.shifts | orderBy:'start_time'">
            <%= render 'shifts/week_views/week_view_shifts' %>
          </div>

          <div ng-if="build()">
            <div class='shift'
                 ng-click="open(user, 4)"
                 data-hover='Assign Shift'>
            </div>
          </div>
        </td>

        <td>
          <div ng-if="build()">
            <div ng-if="sameDayTimeOff(time_off.starts_at, time_off.ends_at, 5)"
                 ng-repeat="time_off in user.time_off_requests | orderBy:'starts_at'">
              <%= render 'shifts/week_views/week_view_time_off_request' %>
            </div>

            <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter: { day: 5 }">
              <%= render 'shifts/week_views/week_view_availability' %>
            </div>
          </div>

          <div ng-if="sameDay(shift.start_time, 5)"
               ng-repeat="shift in user.shifts | orderBy:'start_time'">
            <%= render 'shifts/week_views/week_view_shifts' %>
          </div>

          <div ng-if="build()">
            <div class='shift'
                 ng-click="open(user, 5)"
                 data-hover='Assign Shift'>
            </div>
          </div>
        </td>

        <td>
          <div ng-if="build()">
            <div ng-if="sameDayTimeOff(time_off.starts_at, time_off.ends_at, 6)"
                 ng-repeat="time_off in user.time_off_requests | orderBy:'starts_at'">
              <%= render 'shifts/week_views/week_view_time_off_request' %>
            </div>

            <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter: { day: 6 }">
              <%= render 'shifts/week_views/week_view_availability' %>
            </div>
          </div>

          <div ng-if="sameDay(shift.start_time, 6)"
               ng-repeat="shift in user.shifts | orderBy:'start_time'">
            <%= render 'shifts/week_views/week_view_shifts' %>
          </div>

          <div ng-if="build()">
            <div class='shift'
              ng-click="open(user, 6)"
              data-hover='Assign Shift'>
            </div>
          </div>
        </td>
      </tr>
  </tbody>
</table>
