<div id='shift-assigner-popover'></div>
<table class='table table-hover table-condensed table-bordered print-schedule-font'>
  <thead>
    <tr>
      <th class='hidden-print'>
        <a href="" ng-click="predicate.value = '-last_name'; reverse=!reverse">
          Full Name
        </a>
      </th>
      <th class='visible-print'>
        Full Name
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(0).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(1).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(2).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(3).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(4).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(5).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{weekDay(6).format('ddd, MMM D')}}
      </th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat='user in users | orderBy:predicate.value:reverse |
                   filter:locationFilter | filter:positionFilter'>
      <td class='hidden-print'>
        {{user.last_name}}, {{user.first_name}}
        <br/>
        {{user.position.name}} (Age {{user.date_of_birth | age}})
        <br/>
        (30 - 40 - 1000)
      </td>
      <td class='visible-print'>
        {{user.last_name}}, {{user.first_name}}
      </td>
      <td>
        <button class="btn btn-default" ng-click="open()">Open me!</button>
        <div ng-if="sunday(shift.start_time)" ng-repeat="shift in user.shifts">
          <%= render 'shifts/week_views/week_view_shift' %>
        </div>

        <div ng-if="build()">
          <div ng-if="sundayTime(time_off.starts_at, time_off.ends_at)"
               ng-repeat='time_off in user.time_off_requests'>
            <%= render 'shifts/week_views/week_view_time_off_request' %>
          </div>

          <div ng-repeat="avail in user.availabilities | filter: { day: 0 }">
            <%= render 'shifts/week_views/week_view_availability' %>
          </div>

          <dq-shift-assigner-popover
            date="{{weekDay(0)}}"
            user='user'
            positions='positions'
            location="{{buildLocation}}">
          </dq-shift-assigner-popover>
        </div>
      </td>

      <td>
        <div ng-if="monday(shift.start_time)" ng-repeat="shift in user.shifts">
            <%= render 'shifts/week_views/week_view_shift' %>
        </div>

        <div ng-if="build()">
          <div ng-if="mondayTime(time_off.starts_at, time_off.ends_at)"
               ng-repeat='time_off in user.time_off_requests'>
            <%= render 'shifts/week_views/week_view_time_off_request' %>
          </div>


          <div ng-repeat="avail in user.availabilities | filter: { day: 1 }">
            <%= render 'shifts/week_views/week_view_availability' %>
          </div>

          <dq-shift-assigner-popover
            date="{{weekDay(1)}}"
            user='user'
            positions='positions'
            location="{{buildLocation}}">
          </dq-shift-assigner-popover>
        </div>
      </td>
      <td>
        <div ng-if="tuesday(shift.start_time)" ng-repeat="shift in user.shifts">
          <%= render 'shifts/week_views/week_view_shift' %>
        </div>

        <div ng-if="build()">
          <div ng-if="tuesdayTime(time_off.starts_at, time_off.ends_at)"
               ng-repeat='time_off in user.time_off_requests'>
            <%= render 'shifts/week_views/week_view_time_off_request' %>
          </div>

          <div ng-repeat="avail in user.availabilities | filter: { day: 2 }">
            <%= render 'shifts/week_views/week_view_availability' %>
          </div>

          <dq-shift-assigner-popover
            date="{{weekDay(2)}}"
            user='user'
            positions='positions'
            location="{{buildLocation}}">
          </dq-shift-assigner-popover>
        </div>
      </td>
      <td>
        <div ng-if="wednesday(shift.start_time)" ng-repeat="shift in user.shifts">
          <%= render 'shifts/week_views/week_view_shift' %>
        </div>

        <div ng-if="build()">
          <div ng-if="wednesdayTime(time_off.starts_at, time_off.ends_at)"
               ng-repeat='time_off in user.time_off_requests'>
            <%= render 'shifts/week_views/week_view_time_off_request' %>
          </div>

          <div ng-repeat="avail in user.availabilities | filter: { day: 3 }">
            <%= render 'shifts/week_views/week_view_availability' %>
          </div>

          <dq-shift-assigner-popover
            date="{{weekDay(3)}}"
            user='user'
            positions='positions'
            location="{{buildLocation}}">
          </dq-shift-assigner-popover>
        </div>
      </td>
      <td>
        <div ng-if="thursday(shift.start_time)" ng-repeat="shift in user.shifts">
          <%= render 'shifts/week_views/week_view_shift' %>
        </div>

        <div ng-if="build()">
          <div ng-if="thursdayTime(time_off.starts_at, time_off.ends_at)"
               ng-repeat='time_off in user.time_off_requests'>
            <%= render 'shifts/week_views/week_view_time_off_request' %>
          </div>

          <div ng-repeat="avail in user.availabilities | filter: { day: 4 }">
            <%= render 'shifts/week_views/week_view_availability' %>
          </div>


          <dq-shift-assigner-popover
            date="{{weekDay(4)}}"
            user='user'
            positions='positions'
            location="{{buildLocation}}">
          </dq-shift-assigner-popover>
        </div>
      </td>

      <td>
        <div ng-if="friday(shift.start_time)" ng-repeat="shift in user.shifts">
          <%= render 'shifts/week_views/week_view_shift' %>
        </div>

        <div ng-if="build()">
          <div ng-if="fridayTime(time_off.starts_at, time_off.ends_at)"
               ng-repeat='time_off in user.time_off_requests'>
            <%= render 'shifts/week_views/week_view_time_off_request' %>
          </div>

          <div ng-repeat="avail in user.availabilities | filter: { day: 5 }">
            <%= render 'shifts/week_views/week_view_availability' %>
          </div>

          <dq-shift-assigner-popover
            date="{{weekDay(5)}}"
            user='user'
            positions='positions'
            location="{{buildLocation}}">
          </dq-shift-assigner-popover>
        </div>
      </td>

      <td>
        <div ng-if="saturday(shift.start_time)" ng-repeat="shift in user.shifts">
          <%= render 'shifts/week_views/week_view_shift' %>
        </div>

        <div ng-if="build()">
          <div ng-if="saturdayTime(time_off.starts_at, time_off.ends_at)"
               ng-repeat='time_off in user.time_off_requests'>
            <%= render 'shifts/week_views/week_view_time_off_request' %>
          </div>

          <div ng-repeat="avail in user.availabilities | filter: { day: 6 }">
            <%= render 'shifts/week_views/week_view_availability' %>
          </div>

          <dq-shift-assigner-popover
            date="{{weekDay(6)}}"
            user='user'
            positions='positions'
            location="{{buildLocation}}">
          </dq-shift-assigner-popover>
        </div>
      </td>
  </tbody>
</table>
