<%= bootstrap_form_for(@preventative_list) do |f| %>
  <% if @preventative_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preventative_list.errors.count, "error") %> prohibited this preventative_list from being saved:</h2>

      <ul>
      <% @preventative_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name %>
    <%= f.text_field :type %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
