<%= form_for(@daily_todo) do |f| %>
  <% if @daily_todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_todo.errors.count, "error") %> prohibited this daily_todo from being saved:</h2>

      <ul>
      <% @daily_todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
