<div id='shift-assigner-popover'></div>
<table class='table table-hover table-condensed table-bordered print-schedule-font'>
  <thead>
    <tr>
      <th class='hidden-print'>
        <a href="" ng-click="predicate.value = '-last_name'; reverse=!reverse">
          Full Name
        </a>
      </th>
      <th class='visible-print'>
        Full Name
      </th>
      <th class='lessons_table_cell'>
        {{weekStart().format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(1).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(2).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(3).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(4).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(5).format('ddd, MMM D')}}
      </th>
      <th class='lessons_table_cell'>
        {{addToWeek(6).format('ddd, MMM D')}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='user in users | orderBy:predicate.value:reverse |
                   filter:locationFilter | filter:positionFilter'>
      <td class='hidden-print'>
        <a ng-href='/users/{{user.id}}'>
          {{user.last_name}}, {{user.first_name}}
        </a>
        <br/>
        {{user.position.name}} (Age {{user.date_of_birth | age}})
        <br/>
        (30 - 40 - 1000)
      </td>
      <td class='visible-print'>
        {{user.last_name}}, {{user.first_name}}
      </td>
      <td>
        <div ng-repeat='shift in user.shifts'>
          Start Time: {{shift.start_time | date:'yyyy-MM-dd'}}
          <br>
          Add To: {{weekStart().format('YYYY-MM-DD')}}
          <div ng-show="showShift('{{shift.start_time | date:'yyyy-MM-dd'}}',
          {{weekStart()}} )">
            <%= render 'week_view_shift' %>
          </div>
        </div>

        <div ng-repeat='shift in user.time_off_requests'>
          Start Time: {{time_off_request.starts_at | date:'yyyy-MM-dd'}}
          <br>
          Add To: {{weekStart().format('YYYY-MM-DD')}}

            <%= render 'week_view_time_off_request' %>

        </div>

        <div ng-repeat="avail in user.availabilities | filter: { day: 0 }">
          <%= render 'week_view_availability' %>
        </div>
        <dq-shift-assigner-popover
          date="{{weekStart()}}"
          user='user'
          positions='positions'>
        </dq-shift-assigner-popover>
      </td>
      <td>
        <div ng-repeat="avail in user.availabilities | filter: { day: 1 }">
          <%= render 'week_view_availability' %>
        </div>
        <dq-shift-assigner-popover
          date="{{weekStart(1)}}"
          user='user'
          positions='positions'>
        </dq-shift-assigner-popover>
      </td>
      <td>
        <div ng-repeat="shift in user.shifts | filter: { start_time: '2014-07-15' }">
<!--           Start Time: {{shift.start_time | date:'yyyy-MM-dd'}}
          <br>
<<<<<<< HEAD
          Add To: {{addToWeek(2).format('YYYY-MM-DD')}}
          <div ng-show="showShift('{{shift.start_time | date:'yyyy-MM-dd'}}',
          {{addToWeek(2)}} )">
            <%= render 'week_view_shift' %>
          </div>
=======
          Add To: {{addToWeek(1).format('YYYY-MM-DD')}} -->
          <%= render 'week_view_shift' %>
        </div>

        <div ng-repeat="avail in user.availabilities | filter: { day: 2 }">
<!--           Start Time: {{avail.start_time}}
          End Time: {{avail.end_time}} -->
          <%= render 'week_view_availability' %>

        </div>
        <dq-shift-assigner-popover
          date="{{weekStart(2)}}"
          user='user'
          positions='positions'>
        </dq-shift-assigner-popover>
      </td>
      <td>

        <div ng-repeat='shift in user.shifts'>
          Start Time: {{shift.start_time | date:'yyyy-MM-dd'}}
          <br>
          Add To: {{addToWeek(3).format('YYYY-MM-DD')}}
          <div ng-show="showShift('{{shift.start_time | date:'yyyy-MM-dd'}}',
          {{addToWeek(3)}} )">
            <%= render 'week_view_shift' %>
          </div>

        <div ng-repeat="shift in user.shifts | filter: { start_time: '2014-07-16' }">
          <%= render 'week_view_shift' %>
        </div>

        <div ng-repeat="avail in user.availabilities | filter: { day: 3 }">
          <%= render 'week_view_availability' %>

        </div>
        <dq-shift-assigner-popover
          date="{{weekStart(3)}}"
          user='user'
          positions='positions'>
        </dq-shift-assigner-popover>
      </td>
      <td>

        <div ng-repeat='shift in user.shifts'>
          Start Time: {{shift.start_time | date:'yyyy-MM-dd'}}
          <br>
          Add To: {{addToWeek(4).format('YYYY-MM-DD')}}
          <div ng-show="showShift('{{shift.start_time | date:'yyyy-MM-dd'}}',
          {{addToWeek(4)}} )">
            <%= render 'week_view_shift' %>
          </div>

        <div ng-repeat="shift in user.shifts | filter: { start_time: '2014-07-17' }">
          <%= render 'week_view_shift' %>
        </div>

        <div ng-repeat="avail in user.availabilities | filter: { day: 4 }">
          <%= render 'week_view_availability' %>

        </div>
        <dq-shift-assigner-popover
          date="{{weekStart(4)}}"
          user='user'
          positions='positions'>
        </dq-shift-assigner-popover>
      </td>
      <td>

        <div ng-repeat='shift in user.shifts'>
          Start Time: {{shift.start_time | date:'yyyy-MM-dd'}}
          <br>
          Add To: {{addToWeek(5).format('YYYY-MM-DD')}}
          <div ng-show="showShift('{{shift.start_time | date:'yyyy-MM-dd'}}',
          {{addToWeek(5)}} )">
            <%= render 'week_view_shift' %>
          </div>

        <div ng-repeat="shift in user.shifts | filter: { start_time: '2014-07-18' }">
          <%= render 'week_view_shift' %>
        </div>

        <div ng-repeat="avail in user.availabilities | filter: { day: 5 }">
          <%= render 'week_view_availability' %>

        </div>
        <dq-shift-assigner-popover
          date="{{weekStart(5)}}"
          user='user'
          positions='positions'>
        </dq-shift-assigner-popover>
      </td>
      <td>

        <div ng-repeat='shift in user.shifts'>
          Start Time: {{shift.start_time | date:'yyyy-MM-dd'}}
          <br>
          Add To: {{addToWeek(6).format('YYYY-MM-DD')}}
          <div ng-show="showShift('{{shift.start_time | date:'yyyy-MM-dd'}}',
          {{addToWeek(6)}} )">
            <%= render 'week_view_shift' %>
          </div>

        <div ng-repeat="shift in user.shifts | filter: { start_time: '2014-07-19' }">
          <%= render 'week_view_shift' %>
        </div>

        <div ng-repeat="avail in user.availabilities | filter: { day: 6 }">
          <%= render 'week_view_availability' %>

        </div>
        <dq-shift-assigner-popover
          date="{{weekStart(6)}}"
          user='user'
          positions='positions'>
        </dq-shift-assigner-popover>
      </td>
  </tbody>
</table>
