<div ng-app='digiquatics'>
  <div ng-controller='ShiftsCtrl as controller'>
    <div ng-init='state.userIsAdmin = <%= current_user.admin %>'></div>
    <div ng-init='state.buildMode = <%= current_user.admin %>'></div>
    <% provide(:title, 'Scheduler') %>
    <div class='hidden-print'>
      <div>
        <h1 class='cross_platform_header'>
          <div ng-if='state.buildLocation'>
            <!-- Left blank for print view -->
          </div>
          {{displayStartDate()}}
        </h1>
      </div>
      <div class='schedule_header_width'>
        <div class='row'>
          <div class='hidden-xs hidden-sm' ng-if='state.userIsAdmin'>
            <div class='col-md-4'>
              <b>SCHEDULE EMPLOYEES AT THIS LOCATION:</b>
              <div ng-init="state.buildLocation = <%= current_user.location.id %>"></div>
              <select ng-model='state.buildLocation'
                      class='form-control'
                      ng-options='location.id as location.name for location in locations'>
              </select>
            </div>
          </div>
          <div class='col-md-4 col-xs-4'>
            <b>
              <div class='hidden-xs'>FILTER EMPLOYEES AT THIS LOCATION:</div>
              <div class='visible-xs'>SCHEDULE LOCATION:</div>
            </b>
            <div ng-init="locationFilter = '<%= current_user.location.name %>' "></div>
            <select ng-model='locationFilter'
                    class='form-control'
                    ng-options='location.name as location.name for location in locations'>
              <option value="">All Locations</option>
            </select>
          </div>
          <div class='hidden-xs hidden-sm' ng-show='state.userIsAdmin'>
            <dq-position></dq-position>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-1 col-xs-1'>
            <div>
              <btn class='btn btn-default btn-sm' ng-click='resetWeekCounter()'>
                <i class='fa fa-calendar-o fa-lg'></i>
                <b> Today</b>
              </btn>
            </div>
          </div>
          <div class='col-md-3 col-xs-3'>
            <div class='btn-group'>
              <btn class='btn btn-default btn-sm' ng-click='previousMonth()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-left' %><%= fa_icon 'chevron-left' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='previous()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-left' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='next()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-right' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='nextMonth()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-right' %><%= fa_icon 'chevron-right' %>
              </btn>
            </div>
          </div>
          <div class='hidden-xs' ng-if='state.userIsAdmin'>
            <div class='col-md-4'>
              <span class='legendBlue'>
                <i class='fa fa-circle fa-border'></i> Shift
              </span>
              <span class='legendYellow'>
                <i class='fa fa-circle fa-border'></i> Pending Sub Request
              </span>
              <br>
              <span class='legendGreen'>
                <i class='fa fa-circle fa-border'></i> Availability
              </span>
              <span class='legendRed'>
                <i class='fa fa-circle fa-border'></i> Time Off
              </span>
            </div>
            <div class='col-md-3'>
              <div class='pull-right'>
                <div class='btn-group pull-right'>
                  <label class='btn btn-default' ng-model='state.buildMode' btn-radio='true'>
                    <i class='fa fa-wrench fa-lg'></i> Build
                  </label>
                  <label class='btn btn-default' ng-model='state.buildMode' btn-radio='false'>
                    <i class='fa fa-calendar fa-lg'></i></a> View
                  </label>
                </div>
              </div>
            </div>
            <div class='col-md-1'>
              <div class='pull-right hidden-xs hidden-sm'>
                <button class='btn btn-default fa fa-print fa-lg' ng-click='print()'
                        tooltip-popup-delay='1000' tooltip-placement='right'
                        tooltip='For best results print in landscape mode.'>
                  Print
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>

    <div class='hidden-print'>
      <table class='table table-bordered table-white print-schedule-font table-fixed visible-xs visible-sm'>
        <tbody>
          <tr ng-repeat='user in users
                        | orderBy:predicate.value:reverse
                        | filter:locationFilter
                        | filter:positionFilter'>
            <td class='tr-eight-fixed'>
              {{::user.last_name}}, </br>
              {{::user.first_name}}
              <div class='hidden-print'>
                <br><i class='fa fa-clock-o'></i>
                {{user.weeklyHours}}
              </div>
            </td>
            <td class='tr-eight-fixed'>
              <div ng-if='state.userIsAdmin'>
                <dq-time-off-requests day-name='currentDayName()'
                                      time-off-requests='user.time_off_requests'>
                </dq-time-off-requests>
                <dq-availabilities day-name='currentDayName()'
                                   availabilities='user.availabilities'>
                </dq-availabilities>
              </div>
              <dq-shifts day-name='currentDayName()'
                         shifts='user.shifts'
                         user-is-admin='state.userIsAdmin'
                         open='open(user, days.indexOf(currentDayName()), shift)'>
              </dq-shifts>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='desktop-view'>
      <div class='schedule_header_width'>
        <div class='shadow-effect'>
          <dq-floating-table-head days='days'></dq-floating-table-head>
        </div>

        <br>

        <div class='shadow-effect'>
          <table class='table table-bordered table-white print-schedule-font table-fixed visible-print-inline schedule-table-print'>
            <tbody>
              <tr ng-repeat='user in users | orderBy:predicate.value:reverse |
                             filter:locationFilter | filter:positionFilter'>
                <td class='tr-eight-fixed'>
                  {{::user.last_name}}, </br>
                  {{::user.first_name}}
                  <br><i class='fa fa-clock-o'></i>
                  {{user.weeklyHours}}
                </td>
                <td ng-repeat='day in days' class='tr-eight-fixed print-schedule-font'>
                  <div ng-if='state.buildMode'>
                    <dq-time-off-requests day-name='day'
                                          time-off-requests='user.time_off_requests'>
                    </dq-time-off-requests>
                    <dq-availabilities day-name='day'
                                       availabilities='user.availabilities'>
                    </dq-availabilities>
                  </div>
                  <dq-shifts day-name='day'
                             shifts='user.shifts'
                             user-is-admin='state.userIsAdmin'
                             open='open(user, days.indexOf(day), shift)'>
                  </dq-shifts>
                  <div ng-if='state.buildMode'>
                    <div class='add-shift' ng-click='open(user, days.indexOf(day))'
                         data-hover='Assign Shift'>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
