<div ng-app='digiquatics'>
  <div ng-controller='ShiftsCtrl'>
    <% provide(:title, 'Scheduler') %>
    <div class='hidden-print'>
      <div ng-if="showIf()">
        <h1 class='cross_platform_header'>
          <div ng-if="buildLocation">
            <!-- {{buildLocation}} -->
          </div>
          {{displayStartDate()}} - {{displayEndDate(6)}}
        </h1>
      </div>
      <div ng-if="hideIf()">
        <h1 class='cross_platform_header'>
          {{displayDay()}}
        </h1>
      </div>
      <div class='row'>
        <div class='visible-xs'><br></div>
        <%= render 'layouts/location_select_build' %>
        <%= render 'layouts/location_select_shifts' %>
        <dq-position></dq-position>
        <div class='col-md-1'></div>
        <div class='col-md-2'>
        <div class='pull-right'>
          <div class="btn-group">
            <label class="btn btn-success" ng-model="buildMode" btn-radio="'Build'">Build</label>
            <label class="btn btn-success" ng-model="buildMode" btn-radio="'View'">View</label>
          </div>
        </div>
          <!-- <div class='pull-right'>
            <button class='btn btn-success btn-sm'
                    ng-click='ifValue=!ifValue'>
              Change View
            </button>
          </div> -->
        </div>
      </div>
      <div class='row'>
        <div class='col-md-1'>
          <div ng-if="showIf()">
            <btn class='btn btn-default btn-sm' ng-click='resetWeekCounter()'>
              <b>Today</b>
            </btn>
          </div>
          <div ng-if="hideIf()">
            <btn class='btn btn-default btn-sm' ng-click='resetDayCounter()'>
              <b>Today</b>
            </btn>
          </div>
        </div>
        <div class='col-md-2'>
          <div ng-if="showIf()">
            <div class='btn-group'>
              <btn class='btn btn-default btn-sm' ng-click='previousWeek()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-left' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='nextWeek()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-right' %>
              </btn>
            </div>
          </div>
          <div ng-if="hideIf()">
            <div class='btn-group'>
              <btn class='btn btn-default btn-sm' ng-click='previousDay()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-left' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='nextDay()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-right' %>
              </btn>
            </div>
          </div>
        </div>
        <div class='col-md-5'>
          <!-- <div class='center-row-text'>
            <i>Legend: (Hours Scheduled - Max Requested Hours - Hours YTD)</i>
          </div> -->
        </div>
        <div class='col-md-2'></div>
        <div class='col-md-2'>
          <div class='pull-right'>
            <div class='fix-print-button'>
              <%= link_to_function('Print or Print to PDF', 'javascript:print()',
                                   class: 'btn btn-default btn-sm') %>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div class='visible-print'>
      <center>
        <h4>
          {{displayStartDate()}} - {{displayEndDate(6)}}
        </h4>
      </center>
    </div>
    <div ng-if="showIf()">
      <%= render 'shifts/week_views/week_view' %>
    </div>
    <div ng-if="hideIf()">
      <%= render 'day_view' %>
    </div>
  </div>
</div>

