<div ng-app='digiquatics'>
  <div ng-controller='ShiftsCtrl as controller'>
    <div ng-init='userIsAdmin = <%= current_user.admin %>'>
    <div ng-init='buildMode = <%= current_user.admin %>'>
    <% provide(:title, 'Scheduler') %>
    <div class='hidden-print'>
      <div>
        <h1 class='cross_platform_header'>
          <div ng-if='buildLocation'>
            <!-- Left blank for print view -->
          </div>
          <div class='visible-xs'>
            {{currentDay()}}
          </div>
          <div class='hidden-xs'>
            {{displayStartDate()}}
          </div>
        </h1>
      </div>
      <div class='row'>
        <div class='hidden-xs' ng-if='userIsAdmin'>
          <%= render 'layouts/location_select_build' %>
        </div>
          <%= render 'layouts/location_select_shifts' %>
        <div class='hidden-xs' ng-if='userIsAdmin'>
          <dq-position></dq-position>
          <div class='col-lg-1'></div>
          <div class='col-lg-2'>
            <div class='pull-right'>
              <br>
              <div class='btn-group pull-right'>
                <label class='btn btn-default' ng-model='buildMode' btn-radio='true'>
                  <i class='fa fa-wrench fa-lg'></i> Build
                </label>
                <label class='btn btn-default' ng-model='buildMode' btn-radio='false'>
                  <i class='fa fa-calendar fa-lg'></i></a> View
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-1'>
          <div>
            <btn class='btn btn-default btn-sm' ng-click='resetWeekCounter()'>
              <i class='fa fa-calendar-o fa-lg'></i>
              <b> Today</b>
            </btn>
          </div>
        </div>
        <div class='col-md-2'>
          <div class='btn-group'>
            <div class='hidden-xs'>
              <btn class='btn btn-default btn-sm' ng-click='previousWeek()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-left' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='nextWeek()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-right' %>
              </btn>
            </div>
            <div class='visible-xs'>
              <btn class='btn btn-default btn-sm' ng-click='previousDay()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-left' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='nextDay()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-right' %>
              </btn>
            </div>
          </div>
        </div>
        <div class='hidden-xs' ng-if='userIsAdmin'>
          <div class='col-md-5'>
            <span class='legendBlue'><i class='fa fa-circle fa-border'></i> Shift </span>
            <span class='legendGreen'><i class='fa fa-circle fa-border'></i> Availability </span>
            <span class='legendRed'><i class='fa fa-circle fa-border'></i> Time Off </span>
          </div>
          <div class='col-md-2'></div>
          <div class='col-md-2'>
            <div class='pull-right'>
              <%= link_to_function(' Print', 'javascript:print()',
                                   class: 'btn btn-default fa fa-print fa-lg') %>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div>
    <div>
      <div class='shadow-effect'>
        <div class='hidden-xs'>
          <table class='table table-bordered table-white print-schedule-font'>
            <thead>
              <tr>
                <th id='schedule_info_column'>
                </th>
                <th class='schedule_day_header' ng-repeat='day in days'>
                  <h4>{{weekDay(days.indexOf(day)).format('ddd')}}</h4>
                  <h2>{{weekDay(days.indexOf(day)).format('D')}}</h2>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='user in users | orderBy:predicate.value:reverse |
                             filter:locationFilter | filter:positionFilter'>
                <td>
                  {{user.last_name}}, </br>
                  {{user.first_name}}
                  <div class='hidden-print'>
                    <br><i class='fa fa-clock-o'></i>
                    {{user.weeklyHours}}
                  </div>
                </td>
                <td ng-repeat='day in days'>
                  <div ng-if='buildMode'>
                    <dq-time-off-requests days='days' day-name='day' time-off-requests='user.time_off_requests'>
                    </dq-time-off-requests>
                    <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter:{day: days.indexOf(day)}">
                      <progressbar class='progress fix-schedule-time-bar'
                                   value='100' type='success'>
                        {{startEndTimes(avail)}}
                      </progressbar>
                    </div>
                  </div>
                  <div ng-if='shift.dayIndex == days.indexOf(day)'
                       ng-repeat="shift in user.shifts | orderBy:'start_time' | filter:{dayIndex: days.indexOf(day)}">
                    <div class='edit_shift' ng-if='userIsAdmin'>
                      <progressbar ng-click='open(user, day, shift)'
                                   class='progress fix-schedule-time-bar shift'
                                   value='100' type='primary'>
                        {{startEndTimes(shift)}}<br/>
                        {{shift.position.name}}
                      </progressbar>
                    </div>
                    <div ng-if='!userIsAdmin'>
                      <progressbar class='progress fix-schedule-time-bar shift'
                                   value='100' type='primary'>
                        {{startEndTimes(shift)}}<br/>
                        {{shift.position.name}}
                      </progressbar>
                    </div>
                  </div>
                  <div ng-if='buildMode'>
                    <div class='shift'
                      ng-click='open(user, days.indexOf(day))'
                      data-hover='Assign Shift'>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='visible-xs'>
          <table class='table table-bordered table-white print-schedule-font'>
            <tbody>
              <tr ng-repeat='user in users | orderBy:predicate.value:reverse |
                             filter:locationFilter | filter:positionFilter'>
                <td>
                  {{user.last_name}}, </br>
                  {{user.first_name}}
                  <div class='hidden-print'>
                    <br><i class='fa fa-clock-o'></i>
                    {{user.weeklyHours}}
                  </div>
                </td>
                <td>
                  <div ng-if='userIsAdmin'>
                    <dq-time-off-requests days='days' day-name='currentDayName()' time-off-requests='user.time_off_requests'>
                    </dq-time-off-requests>
                    <div ng-repeat="avail in user.availabilities | orderBy:'start_time' | filter:{day: currentDayOfWeek()}">
                      <progressbar class='progress fix-schedule-time-bar'
                                   value='100' type='success'>
                        {{startEndTimes(avail)}}
                      </progressbar>
                    </div>
                  </div>
                  <div ng-repeat="shift in user.shifts | orderBy:'start_time' | filter:{dayIndex: currentDayOfWeek()}">
                    <progressbar class='progress fix-schedule-time-bar shift'
                                 value='100' type='primary'>
                      {{startEndTimes(shift)}}<br/>
                      {{shift.position.name}}
                    </progressbar>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
