<div ng-app='digiquatics'>
  <div ng-controller='ShiftsCtrl'>
    <% provide(:title, 'Scheduler') %>
    <div class='hidden-print'>
      <div ng-if='showIf()'>
        <h1 class='cross_platform_header'>
          <div ng-if='buildLocation'>
          </div>
          {{displayStartDate()}} - {{displayEndDate(6)}}
        </h1>
      </div>
      <div ng-if='hideIf()'>
        <h1 class='cross_platform_header'>
          {{displayDay()}}
        </h1>
      </div>
      <div class='row'>
        <div class='visible-xs'><br></div>
        <%= render 'layouts/location_select_build' %>
        <%= render 'layouts/location_select_shifts' %>
        <dq-position></dq-position>
        <div class='col-md-1'></div>
        <div class='col-md-2'>
        <div class='pull-right'>
          <br>
          <div class='btn-group pull-right'>
            <label class='btn btn-info' ng-model='buildMode' btn-radio="'Build'">
              <i class='fa fa-wrench fa-lg'></i> Build
            </label>
            <label class='btn btn-info' ng-model='buildMode' btn-radio="'View'">
              <i class='fa fa-calendar fa-lg'></i></a> View
            </label>
          </div>
        </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-1'>
          <div ng-if='showIf()'>
            <btn class='btn btn-default btn-sm' ng-click='resetWeekCounter()'>
              <i class='fa fa-calendar-o fa-lg'></i>
              <b> Today</b>
            </btn>
          </div>
          <div ng-if='hideIf()'>
            <btn class='btn btn-default btn-sm' ng-click='resetDayCounter()'>
              <i class='fa fa-calendar-o fa-lg'></i>
              <b> Today</b>
            </btn>
          </div>
        </div>
        <div class='col-md-2'>
          <div ng-if='showIf()'>
            <div class='btn-group'>
              <btn class='btn btn-default btn-sm' ng-click='previousWeek()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-left' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='nextWeek()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-right' %>
              </btn>
            </div>
          </div>
          <div ng-if='hideIf()'>
            <div class='btn-group'>
              <btn class='btn btn-default btn-sm' ng-click='previousDay()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-left' %>
              </btn>
              <btn class='btn btn-default btn-sm' ng-click='nextDay()'
                   style='width: 40px;'>
                <%= fa_icon 'chevron-right' %>
              </btn>
            </div>
          </div>
        </div>
        <div class='col-md-5'>
          <div class='hidden-xs' id='schedule_legend'>
            <br>
              <p>
                <img src='/images/bluedot.png' alt='blue' height='10px' width='10px' /> Shift
                <img src='/images/greendot.png' alt='green' height='10px' width='10px' /> Availability
                <img src='/images/reddot.png' alt='red' height='10px' width='10px' /> Time Off Request
             </p>
          </div>
        </div>
        <div class='col-md-2'></div>
        <div class='col-md-2'>
          <div class='pull-right'>
            <%= link_to_function(' Print', 'javascript:print()',
                                 class: 'btn btn-default fa fa-print fa-lg') %>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div class='visible-print'>
      <center>
        <h4>
          {{displayStartDate()}} - {{displayEndDate(6)}}
        </h4>
      </center>
    </div>
    <div ng-if='showIf()'>
      <%= render 'shifts/week_views/week_view' %>
    </div>
    <div ng-if='hideIf()'>
      <%= render 'day_view' %>
    </div>
  </div>
</div>

