<div ng-app='digiquatics' ng-controller='AnalyticsCtrl' class='userform well'>
  <%= bootstrap_form_for(@time_off_request) do |f| %>

    <%= render 'shared/required' %>

    Add Day?: <input type='checkbox' ng-model='checked'><br/>

    <div ng-show='checked'>

    <label>Start Time *</label>
    </div>

    <div class='row'>
      <div class='col-md-4'>
        <%= render 'time_off_requests/form_elements/start_time' %>
      </div>
      <div class='col-md-8'>
         <%= render 'time_off_requests/form_elements/start_date' %>
      </div>
    </div>

    <%= f.hidden_field :starts_at,
                       value: "{{dt1 | date:'yyyy-MM-dd'}}
                               {{mytime | date:'HH:mm:ss Z' }}" %>

    <br><br>

    <label>End Time *</label>
    <div class='row'>
      <div class='col-md-4'>
        <%= render 'time_off_requests/form_elements/end_time' %>
      </div>
      <div class='col-md-8'>
         <%= render 'time_off_requests/form_elements/end_date' %>
      </div>
    </div>

    <%= f.hidden_field :ends_at,
                       value: "{{dt2 | date:'yyyy-MM-dd'}}
                               {{mytime2 | date:'HH:mm:ss Z' }}" %>

    <%= f.text_area :reason, label: 'Reason' %>

    <%= f.primary ( f.object.new_record? ?  'Submit' :
    'Save Changes' ) %>
  <% end %>
</div>
</div>
