<div ng-app='digiquatics' ng-controller='AnalyticsCtrl' class='userform well'>
  <%= bootstrap_form_for(@time_off_request) do |f| %>

    <%= render 'shared/required' %>

    <button type='button' class='btn btn-success'
            ng-model='checked'
            btn-checkbox btn-checkbox-true='1' btn-checkbox-false='0'>
      <div ng-show='checked'>Change to: Partial Day </div>
      <div ng-hide='checked'>Change to: All Day </div>
    </button>

    <div ng-show='checked'>
      <%= render 'time_off_requests/show/all_day', f: f %>
    </div>

    <div ng-hide='checked'>
      <%= render 'time_off_requests/show/partial_day', f: f %>
    </div>

    <%= f.text_area :reason, label: 'Reason' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :location_id, value: current_user.location_id %>
    <%= f.primary ( f.object.new_record? ?  'Submit' :
    'Save Changes' ) %>
  <% end %>
</div>
</div>
