<% provide(:title, 'Time Off Request') %>

<div style='margin-left:0px;'>
  <h1 class='cross_platform_header'>Time Off Request</h1>
</div>

<div class='table-width-desktop'>
  <ul class = 'pull-right'>
    <%= link_to 'Edit Request', edit_time_off_request_path(@time_off_request),
      class: 'btn btn-default btn-primary' %>
  </ul>

  <div class='pull-left'>
    <%= link_to ' Back', time_off_requests_path,
        class: 'glyphicon glyphicon-arrow-left' %>
  </div>

  <br>

  <table class='table table-bordered table-condensed' >
    <tr>
      <th> Submitted By </th>
        <td>
          <%= link_to "#{@time_off_request.user.last_name},
                       #{@time_off_request.user.first_name}",
                       user_path(id: @time_off_request.user.id) %>
        </td>
    </tr>
    <tr>
      <th> Date Submitted </th>
        <td><%= @time_off_request.created_at.strftime('%-m/%-d/%Y @ %I:%M%p') %></td>
    </tr>

    <tr>
      <th>Start</th>
        <td><%= @time_off_request.starts_at.strftime('%-m/%-d/%Y @ %I:%M%p') %></td>
    </tr>
    <tr>
      <th>End</th>
        <td><%= @time_off_request.ends_at.strftime('%-m/%-d/%Y @ %I:%M%p') %></td>
    </tr>
    <tr>
      <th>Reason</th>
        <td><%= @time_off_request.reason %></td>
    </tr>
    <tr>
      <th>Approved? (Y/N)</th>
        <td><%= boolean_to_words(@time_off_request.approved) %></td>
    </tr>
    <tr>
      <th>Approved By</th>
        <td><%= "#{@approver.last_name}, #{@approver.first_name}" %></td>
    </tr>
    <tr>
      <th>Approved At</th>
        <td>
          <% if @time_off_request.approved_at %>
            <%= @time_off_request.approved_at.strftime('%-m/%-d/%Y @ %I:%M%p') %>
          <% end %>
        </td>
    </tr>
  </table>
</div>
