<% provide(:title, 'Time Off Request') %>
<div style='margin-left:0px;'>
  <h1 class='cross_platform_header'>Time Off Request</h1>
</div>
<div class='table-width-desktop'>
  <div class='pull-left'>
    <%= link_to time_off_requests_path,
        class:'btn btn-default btn-circle' do %>
      <i class='fa fa-arrow-left fa-lg'></i>
    <% end %>
  </div>

  <ul class = 'pull-right'>
    <%= link_to edit_time_off_request_path(@time_off_request),
                class:'btn btn-default btn-primary' do %>
      <i class='fa fa-pencil'></i> Edit Request
    <% end %>
  </ul>

  <br><br><br>

  <% if current_user.admin? %>
    <ul class='pull-right'>
      <%= bootstrap_form_for @time_off_request do |f| %>
        <%= f.hidden_field :approved, value: false %>
        <%= f.hidden_field :approved_by_user_id, value: current_user.id %>
        <%= f.hidden_field :processed_by_last_name,
                           value: current_user.last_name %>
        <%= f.hidden_field :processed_by_first_name,
                           value: current_user.first_name %>
        <%= f.hidden_field :approved_at, value: Time.now %>
        <%= f.hidden_field :active, value: false %>
        <button type='submit' class='btn btn-default btn-danger'>
          <i class='fa fa-times'></i> Deny
        </button>
      <% end %>
    </ul>
    <ul class='pull-right'>
      <%= bootstrap_form_for @time_off_request do |f| %>
        <%= f.hidden_field :approved, value: true %>
        <%= f.hidden_field :approved_by_user_id, value: current_user.id %>
        <%= f.hidden_field :processed_by_last_name,
                           value: current_user.last_name %>
        <%= f.hidden_field :processed_by_first_name,
                           value: current_user.first_name %>
        <%= f.hidden_field :approved_at, value: Time.now %>
        <%= f.hidden_field :active, value: false %>
        <button type='submit' class='btn btn-default btn-success'>
          <i class='fa fa-check'></i> Approve
        </button>
      <% end %>
    </ul>
    <br><br><br>
  <% end %>

  <table class='table table-clean table-white shadow-effect' >
    <tr>
      <th style='width:25%'>Submitted By</th>
      <td>
        <% if @time_off_request.user_id? %>
          <%= link_to "#{User.find_by_id(@time_off_request.user_id).last_name},
                       #{User.find_by_id(@time_off_request.user_id).first_name}",
                       user_path(id: @time_off_request.user.id) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Location</th>
      <td><%= @time_off_request.location.name %></td>
    </tr>
    <tr>
      <th>Date Submitted</th>
      <td>
        <%= @time_off_request.created_at.strftime('%-m/%-d/%Y @ %I:%M%p') %>
      </td>
    </tr>
    <tr>
      <th>Start Date</th>
      <td>
        <% if @time_off_request.all_day? %>
          <%= @time_off_request.starts_at.strftime('%-m/%-d/%Y') %>
        <% else %>
          <%= @time_off_request.starts_at.strftime('%-m/%-d/%Y @ %I:%M%p') %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>End Date</th>
      <td>
        <% if @time_off_request.all_day? %>
          <%= @time_off_request.ends_at.strftime('%-m/%-d/%Y') %>
        <% else %>
          <%= @time_off_request.ends_at.strftime('%-m/%-d/%Y @ %I:%M%p') %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Reason</th>
      <td>
        <%= @time_off_request.reason %>
      </td>
    </tr>
    <tr>
      <th>Status</th>
      <% if @time_off_request.active == false %>
        <td class= <%=BooleanToWordsTimeOffCSS(@time_off_request.approved)%>>
          <%= BooleanToWordsTimeOff(@time_off_request.approved) %>
        </td>
      <% elsif %>
      <td class='warning'>
        Pending
      </td>
      <% end %>
    </tr>
    <% if @time_off_request.active == false %>
      <tr>
        <th>Processed By</th>
        <td>
          <% if @time_off_request.approved_by_user_id? %>
            <%= "#{User.find_by_id(@time_off_request.approved_by_user_id).last_name},
                 #{User.find_by_id(@time_off_request.approved_by_user_id).first_name}" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Processed On</th>
        <td>
          <% if @time_off_request.approved_at? %>
            <%= @time_off_request.approved_at.strftime('%-m/%-d/%Y @ %I:%M%p') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
