<% provide(:title, 'Certifications') %>
<h1>Certifications</h1>
<ul class = "pull-right">
  <%= link_to "Manage Certifications", certification_names_path, class: "btn btn-medium btn-primary" %>
</ul>
<br>
<br>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
        <% @certification_names.each do |certification_name| %>
          <th><%= certification_name.name %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
    <% @account_users.each do |user| %>
      <tr>
        <td class="danger"><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <% user.certifications.each do |cert| %>
          <% if cert.expiration_date < ( Date.today + 30.days ) %>
            <td class="danger">
              <%= cert.expiration_date.strftime('%-m/%-d/%Y') %>
            </td>
          <% elsif cert.expiration_date > ( Date.today + 30.days ) && cert.expiration_date < ( Date.today + 60.days ) %>
            <td class="warning">
              <%= cert.expiration_date.strftime('%-m/%-d/%Y') %>
            </td>
          <% elsif cert.expiration_date > ( Date.today + 60.days ) %>
            <td class="success">
              <%= cert.expiration_date.strftime('%-m/%-d/%Y') %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


