<% provide(:title, 'Certifications') %>
<h1>Certifications</h1>
<ul class = "pull-right">
  <%= link_to "Manage Certifications", certification_names_path, class: "btn btn-default btn-primary" %>
</ul>
<br>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Location</th>
        <% @certification_names.each do |certification_name| %>
          <th><%= certification_name.name %></th>
        <% end %>
      <th>Notes</th>  
    </tr>
  </thead>
  <tbody>
    <% @account_users.each do |user| %>
      <tr>
        <td><%= link_to user.first_name, user  %></td>
        <td><%= link_to user.last_name, user %></td>
        <td><%= user.location.name %></td>
        <% user.certifications.each do |cert| %>
          <% if cert.expiration_date <= ( Date.today) %>
            <td class="danger">
              <%= cert.expiration_date.strftime('%-m/%-d/%Y') %>
            </td>
          <% elsif cert.expiration_date > ( Date.today ) && cert.expiration_date < ( Date.today + 60.days ) %>
            <td class="warning">
              <%= cert.expiration_date.strftime('%-m/%-d/%Y') %>
            </td>
          <% elsif cert.expiration_date >= ( Date.today + 60.days ) %>
            <td class="success">
              <%= cert.expiration_date.strftime('%-m/%-d/%Y') %>
            </td>
          <% end %>
        <% end %>
        <td> </td>
      </tr>
    <% end %>
  </tbody>
</table>


