<p id='notice'><%= notice %></p>

<p>
  <strong>Certification Name:</strong>
  <%= @certification.certification_name_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @certification.user_id %>
</p>

<p>
  <strong>Expiration Date:</strong>
  <%= @certification.expiration_date %>
</p>

<%= link_to 'Edit', edit_certification_path(@certification) %> |
<%= link_to 'Back', certifications_path %>
