<%= form_for(@help_desk) do |f| %>
  <% if @help_desk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@help_desk.errors.count, "error") %> prohibited this help_desk from being saved:</h2>

      <ul>
      <% @help_desk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
