<div class='userform well'>
  <%= bootstrap_form_for(@help_desk,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>

    <%= render 'shared/required' %>
    <%= f.text_field :name, label: 'Problem *' %>
    <%= f.text_area :description, label: 'Description' %>
    <%= f.select :urgency, %w[Low Medium High], label: 'Urgency' %>
    <%= f.file_field :help_desk_attachment, label: 'Attachment' %>
    <%= f.hidden_field :issue_status, value: @help_desk.issue_status %>
    <%= f.primary ( f.object.new_record? ?  'Submit' :
    'Save Changes' ) %>
  <% end %>
</div>
</div>
