<% provide(:title, 'Help Desk') %>
<h1>Open Help Desk Tickets</h1>

<ul class = "pull-right">
  <%= link_to "Add Ticket", new_help_desk_path,
    class: "btn btn-primary btn-sm" %>
</ul>

<ul class = "pull-right">
  <%= link_to "Export CSV", "#",
    class: "btn btn-warning btn-sm" %>
</ul>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th> </th>
        <th>Location</th>
        <th>Description</th>
        <th>Urgency</th>
        <th>Submitted By</th>
        <th>Date Submitted</th>
      </tr>
  </thead>

  <tbody>
    <% @help_desks.each do |help_desk| %>
      <tr>
        <td>
          <% if help_desk.help_desk_attachment? %>
            <%= link_to "", help_desk.help_desk_attachment.url,
            class: "glyphicon glyphicon-picture" %>
          <% else %>
          <% end %>
        </td>
        <td><%= Location.find(help_desk.location_id).name %></td>
        <td><%= help_desk.name %></td>
        <td><%= help_desk.urgency %></td>
        <td><%= User.find(help_desk.user_id).first_name %>
          <%= User.find(help_desk.user_id).last_name %>
        </td>
        <td><%= help_desk.created_at.strftime('%-m/%-d/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

