<% provide(:title, 'Slide Inspection') %>
<h1 class='cross_platform_header'>Slide Inspection</h1>

<div class='table-width-desktop'>
  <div class='pull-left'>
    <%= link_to slide_inspections_path,
        class:'btn btn-default btn-circle' do %>
      <i class='fa fa-arrow-left fa-lg'></i>
    <% end %>
  </div>
  <br><br><br>

  <table class='table table-bordered table-white'>
    <tr>
      <th id='fixtablewidth'>Slide</th>
      <td><%= @slide_inspection.slide.name %></td>
    </tr>
    <tr>
      <th>Completed By</th>
      <td>
        <% if @slide_inspection.user_id? %>
          <%= link_to "#{@slide_inspection.user.last_name},
                       #{@slide_inspection.user.first_name}",
                       user_path(id: @slide_inspection.user.id) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= date_and_time(@slide_inspection.created_at) %></td>
    </tr>
    <tr>
      <th>All OK?</th>
      <td><%= @slide_inspection.all_ok ? 'Yes' : 'No' %></td>
    </tr>
    <% unless @slide_inspection.all_ok %>
      <tr>
        <th>Problems</th>
        <td>
          <% @errors.each do |error| %>
            <%= error.task_name %>
            <br>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>Notes</th>
      <td><%= @slide_inspection.notes %></td>
    </tr>
  </table>
</div>
