<%= will_paginate(@chemical_records, page_links:false, next_label:"-->", previous_label:"<--")%>

<div class="table-responsive">

  <table class="table table-hover table-condensed">
    <thead>
      <tr style="word-wrap:break-word;">
        <th><%= sortable "id", "ID" %></th>
        <th><%= sortable "chlorine_ppm", "Cl" %></th>
        <th><%= sortable "ph", "Ph" %></th>
        <th><%= sortable "alkalinity", "Alk" %></th>
        <th><%= sortable "calcium_hardness", "CH" %></th>
        <th><%= sortable "pool_temp", "Pool(F)" %></th>
        <th class="hidden-xs hidden-sm"><%= sortable "air_temp", "Air(F)" %></th>
        <th class="hidden-xs hidden-sm"><%= sortable "si_index", "SI index" %></th>
        <th class="hidden-xs hidden-sm"><%= sortable "si_status", "Status" %></th>
        <th><%= sortable "created_at", "Submitted" %></th>
      </tr>
    </thead>

    <tbody>
      <% @chemical_records.each do |chemical_record| %>
        <tr>
          <th><%= link_to chemical_record.id, chemical_record%></th>
          <td><%= chemical_record.chlorine_ppm.round %></td>
          <td><%= chemical_record.ph.round(1) %></td>
          <td><%= chemical_record.alkalinity.round %></td>
          <td><%= chemical_record.calcium_hardness.round %></td>
          <td><%= chemical_record.pool_temp.round(1) %></td>
          <td class="hidden-xs hidden-sm"><%= chemical_record.air_temp.round(1) %></td>
          <td class="hidden-xs hidden-sm"><%= si_index(chemical_record.ph, chemical_record.pool_temp, 
            chemical_record.calcium_hardness, chemical_record.alkalinity)
              .round(2) %></td>
          <td class="hidden-xs hidden-sm"><%= si_index_description(si_index(chemical_record.ph, 
            chemical_record.pool_temp, chemical_record.calcium_hardness, 
              chemical_record.alkalinity)) %></td>
          <td><%= chemical_record.created_at
            .strftime("%-m/%-d/%y" + " " + "%l:%M%P") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  	</div>  	

