<div class='userform well'>
  <%= bootstrap_form_for(@chemical_record,
    style: :horizontal, left: 'col-sm-4', right: 'col-sm-8') do |f| %>
    <% if @chemical_record.errors.any? %>

      <div id='error_explanation'>
        <h2><%= pluralize(@chemical_record.errors.count, 'error') %>
          prohibited this chemical_record from being saved:</h2>
        <ul>
          <% @chemical_record.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= content_tag(:legend, legend) unless !legend %>
    <%= render 'shared/required' %>
    <%= f.select :pool_id,
      options_from_collection_for_select(Pool.same_location_as(current_user) , :id, :name ) %>
    <%= f.text_field :free_chlorine_ppm, label: 'Free Chlorine ppm' %>
    <%= f.text_field :total_chlorine_ppm, label: 'Total Chlorine ppm *' %>
    <%= f.text_field :ph, label: 'PH *' %>
    <%= f.text_field :alkalinity %>
    <%= f.text_field :calcium_hardness, label: 'Calcium Hardness' %>
    <%= f.text_field :pool_temp, label: 'Pool Temp' %>
    <%= f.text_field :air_temp, label: 'Air Temp' %>
    <%= f.select :water_clarity, %w[Clear Cloudy],
                { include_blank: true, label: 'Water Clarity' } %>

    <div class='hidden-xs hidden-sm'>
      <%= f.datetime_select :time_stamp, { label: 'Date', ampm: true} %>
    </div>

    <%= f.primary ( f.object.new_record? ?  'Submit' : 'Save Changes' ) %>

  <% end %>
</div>
</div>

