<div ng-app='digiquatics'>
  <div class='userform well'>

    <%= bootstrap_form_for(@chemical_record) do |f| %>
      <% if @chemical_record.errors.any? %>

        <div id='error_explanation'>
          <h2><%= pluralize(@chemical_record.errors.count, 'error') %>
            prohibited this chemical_record from being saved:</h2>
          <ul>
            <% @chemical_record.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= render 'shared/required' %>

      <div ng-controller='ChemicalRecordsCtrl'>
        <label>Location</label>

      <% if @chemical_record.new_record?() %>
          <!-- Defaults to current location for new -->
          <%= render 'layouts/location_select_chemicals' %>
          <%= f.hidden_field :location_id, value: "{{location_id}}" %>
          <%= render 'layouts/pool_select' %>
          <%= f.hidden_field :pool_id, value: "{{pool_id}}" %>
      <% else %>
        <%= render 'layouts/location_select_chemicals_edit' %>
        <%= f.hidden_field :location_id, value: "{{location_id}}" %>
        <%= render 'layouts/pool_select_chemicals_edit' %>
        <%= f.hidden_field :pool_id, value: "{{pool_id}}" %>
      <% end %>

      </div>

      <%= f.text_field :free_chlorine_ppm, label: 'Free Chlorine ppm' %>
      <%= f.text_field :total_chlorine_ppm, label: 'Total Chlorine ppm *' %>
      <%= f.text_field :ph, label: 'PH *' %>

      <%= f.text_field :pool_temp, label: 'Pool Temp' %>
      <%= f.text_field :air_temp, label: 'Air Temp' %>
      <%= f.select :water_clarity, %w[Clear Cloudy],
                  { label: 'Water Clarity' } %>
      <%= f.text_field :alkalinity %>
      <%= f.text_field :calcium_hardness, label: 'Calcium Hardness' %>

      <div ng-controller='AnalyticsCtrl' class='hidden-xs hidden-sm'>
        <label>Date</label>
        <div class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt1" is-open="opened1" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <br>
        <label>Time</label>
          <center>
            <div class='fix_ampm_button'>
              <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep"
                          show-meridian="ismeridian"></timepicker>
            </div>
          </center>
          <%= f.hidden_field :time_stamp,
                             value: "{{dt1 | date:'yyyy-MM-dd'}}
                                     {{mytime | date:'HH:mm:ss Z' }}" %>
      </div>
      <br>
      <%= f.primary ( f.object.new_record? ?  'Submit' : 'Save Changes' ) %>
    <% end %>
  </div>
</div>
</div>
