<div ng-app='digiquatics'>
  <div ng-controller='ChemicalRecordsCtrl'>
    <% provide(:title, 'Chemical Records') %>

    <h1 class='cross_platform_header'>Chemical Records</h1>

    <div class='row'>
      <%= render 'layouts/location_select_chemicals' %>
      <%= render 'layouts/pool_select' %>
      <div class='col-md-3'></div>
      <div class='col-md-3 pull-right'>
        <div class='btn-group'>
          <%= link_to 'New Chemical Record', new_chemical_record_path,
            class: 'btn btn-primary btn-sm', role: 'button' %>
          <%= link_to 'Statistics', chemical_record_stats_path,
            class: 'btn btn-success btn-sm', role: 'button' %>
        </div>
      </div>
    </div>
    <div style='font-size: 100%' class='hidden-xs'>
      <br>
      <img src='/images/reddot.png' alt='red' height='10px' width='10px'/>
      Danger
      <img src='/images/yellowdot.png' alt='yellow' height='10px' width='10px'/>
      Warning
      <img src='/images/greendot.png' alt='green' height='10px' width='10px'/>
      Balanced
    </div>
    <%= render 'chemicals' %>
  </div>
</div>
