<% provide(:title, 'Chemical Records') %>
<h1>Chemical Records</h1>

<ul class = "pull-right">
  <%= link_to "New Chemical Record", new_chemical_record_path, class: "btn btn-primary" %>
</ul>

<ul class = "pull-right">
  <%= link_to "Export", "#", class: "btn btn-warning" %>
</ul>

<ul class = "pull-right">
  <%= link_to "Statistics", "#", class: "btn btn-success" %>
</ul>

<br><br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Chlorine</th>
      <th>Ph</th>
      <th>Alkalinity</th>
      <th>Calcium hardness</th>
      <th>Pool temp</th>
      <th>Air temp</th>
      <th>Si index</th>
    </tr>
  </thead>

  <tbody>
    <% @chemical_records.each do |chemical_record| %>
      <tr>
        <td><%= chemical_record.chlorine_ppm %></td>
        <td><%= chemical_record.ph %></td>
        <td><%= chemical_record.alkalinity %></td>
        <td><%= chemical_record.calcium_hardness %></td>
        <td><%= chemical_record.pool_temp %></td>
        <td><%= chemical_record.air_temp %></td>
        <td><%= chemical_record.si_index %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>