<% provide(:title, 'Chemical Record') %>
<p id="notice"><%= notice %></p>

<h1><%="Chemical Record"%></h1>

<div id="userformbutton">
<%=link_to "Edit Record", edit_chemical_record_path(@chemical_record), 
    class: "btn btn-primary btn-sm"%>
</div>

<br> <br>

<div class="table-responsive">
  
  <table class="table table-bordered table-condensed">
      <tr> 
        <th>Chlorine(ppm)</th> 
        <td><%=@chemical_record.chlorine_ppm%></td> 
      </tr>
      <tr> 
        <th> Chlorine(orp)</th> 
        <td><%=@chemical_record.chlorine_orp%></td> 
      </tr>
      <tr> 
        <th>PH</th> 
        <td><%=@chemical_record.ph%> </td> 
      </tr>
      <tr> 
        <th>Alkalinity</th> 
        <td><%=@chemical_record.alkalinity%></td> 
      </tr>
      <tr> 
        <th>Calcium Hardness</th> 
        <td><%=@chemical_record.calcium_hardness%></td> 
      </tr>
    <tr> 
      <th>Pool Temp</th> 
      <td><%=@chemical_record.pool_temp%></td> 
    </tr>
    <tr> 
      <th>Air Temp</th> 
      <td><%=@chemical_record.air_temp%></td> 
    </tr>
    <tr> 
      <th>SI Index</th> 
      <td><%=si_index(@chemical_record.ph, @chemical_record.pool_temp, 
        @chemical_record.calcium_hardness, 
          @chemical_record.alkalinity).round(1)%></td> 
    </tr>
    <tr> 
      <th>SI Status</th> 
      <td><%=si_index_description(si_index(@chemical_record.ph, 
        @chemical_record.pool_temp, @chemical_record.calcium_hardness, 
          @chemical_record.alkalinity))%></td> 
    </tr>
    <tr> 
      <th>Date Created</th> 
      <td><%=@chemical_record.created_at.strftime("%-m/%-d/%y" + " " + "%l:%M%P")%></td> 
    </tr>
  </table>
</div>