<h1>Listing attendance_records</h1>

<table>
  <thead>
    <tr>
      <th>0500 0600</th>
      <th>0600 0700</th>
      <th>0700 0800</th>
      <th>0800 0900</th>
      <th>0900 1000</th>
      <th>1000 1100</th>
      <th>1100 1200</th>
      <th>Pool</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendance_records.each do |attendance_record| %>
      <tr>
        <td><%= attendance_record.t0500_0600 %></td>
        <td><%= attendance_record.t0600_0700 %></td>
        <td><%= attendance_record.t0700_0800 %></td>
        <td><%= attendance_record.t0800_0900 %></td>
        <td><%= attendance_record.t0900_1000 %></td>
        <td><%= attendance_record.t1000_1100 %></td>
        <td><%= attendance_record.t1100_1200 %></td>
        <td><%= attendance_record.pool_id %></td>
        <td><%= link_to 'Show', attendance_record %></td>
        <td><%= link_to 'Edit', edit_attendance_record_path(attendance_record) %></td>
        <td><%= link_to 'Destroy', attendance_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance record', new_attendance_record_path %>
