<h1>Attendance Records</h1>

<table>
  <thead>
    <tr>
      <th>Pool</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendance_records.each do |attendance_record| %>
      <tr>
        <td><%=  %></td>
        <td><%= link_to 'Show', attendance_record %></td>
        <td><%= link_to 'Edit', edit_attendance_record_path(attendance_record)
          %></td>
        <td><%= link_to 'Destroy', attendance_record, method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance record', new_attendance_record_path %>
