<p id="notice"><%= notice %></p>

<p>
  <strong>0500 0600:</strong>
  <%= @attendance_record.0500_0600 %>
</p>

<p>
  <strong>0600 0700:</strong>
  <%= @attendance_record.0600_0700 %>
</p>

<p>
  <strong>0700 0800:</strong>
  <%= @attendance_record.0700_0800 %>
</p>

<p>
  <strong>0800 0900:</strong>
  <%= @attendance_record.0800_0900 %>
</p>

<p>
  <strong>0900 1000:</strong>
  <%= @attendance_record.0900_1000 %>
</p>

<p>
  <strong>1000 1100:</strong>
  <%= @attendance_record.1000_1100 %>
</p>

<p>
  <strong>1100 1200:</strong>
  <%= @attendance_record.1100_1200 %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @attendance_record.pool_id %>
</p>

<%= link_to 'Edit', edit_attendance_record_path(@attendance_record) %> |
<%= link_to 'Back', attendance_records_path %>
