<div class = 'collapse navbar-collapse navHeaderCollapse'>
  <ul class = 'nav navbar-nav navbar-right' >
    <% if signed_in? %>
      <% if FeatureToggleHelper.attendance? %>
        <li><%= link_to 'Attendance', attendance_records_path %></li>
      <% end %>
      <% if FeatureToggleHelper.chemicals? %>
        <li><%= link_to 'Chemicals', chemical_records_path %></li>
      <% end %>
      <% if current_user && current_user.admin? %>
        <li><%= link_to 'Certifications', certifications_path %></li>
      <% end %>
      <% if FeatureToggleHelper.private_lessons? %>
        <li class = 'dropdown'>
          <a href = '#' class = 'dropdown-toggle' data-toggle = 'dropdown'>
          Private Lessons <b class = 'caret'></b></a>
          <ul class = 'dropdown-menu'>
            <li>
              <li><%= link_to 'Private Lessons Queue',
                  account_private_lessons_path(account_id: current_user.account_id) %>
            </li>
            <% if current_user && current_user.admin? %>
              <li class='divider'></li>
              <li><%= link_to 'New Private Lesson',
                      new_account_private_lesson_path(account_id: current_account.id) %>
              </li>
              <li><%= link_to 'Private Lessons Management', admin_index_path %></li>
            <% end %>
          </ul>
      <% end %>

      <li><%= link_to 'Employees', users_path %></li>
      <% if FeatureToggleHelper.slide_inspections? %>
        <li><%= link_to 'Slide Inspections', slide_inspections_path %></li>
      <% end %>
      <% if FeatureToggleHelper.maintenance? %>
        <li class = 'dropdown'>
          <a href = '#' class = 'dropdown-toggle' data-toggle = 'dropdown'>
            Maintenance<b class = 'caret'></b></a>
          <ul class = 'dropdown-menu'>
            <li><%= link_to 'Daily Checklist', daily_todos_path %></li>
            <li><%= link_to 'Preventative Maintenance',
                            preventative_lists_path %></li>
            <li><%= link_to 'Report an Issue', help_desks_path %></li>
          </ul>
        </li>
      <% end %>
      <% if FeatureToggleHelper.shift_reports? %>
        <li><%= link_to 'Shift Reports', shift_reports_path %></li>
      <% end %>
      <li class = 'dropdown'>
        <a href = '#' class = 'dropdown-toggle' data-toggle = 'dropdown'>
          Account<b class = 'caret'></b></a>
        <ul class = 'dropdown-menu'>
          <li><%= link_to 'My Profile', current_user %></li>
          <li><%= link_to 'My Private Lessons', my_lessons_path %></li>
          <% if current_user && current_user.admin? %>
            <li class='divider'></li>
            <!--<li><%= link_to 'Manage Users', users_path %></li>-->
            <li><%= link_to 'Preferences', admin_dashboard_path %></li>
          <% end %>
          <li class='divider'></li>
          <li><%= link_to 'Sign out', destroy_user_session_path,
            method: :delete %></li>
        </ul>
      </li>
    <% else #!signed_in? %>
      <li>
        <div>
          <%= link_to 'Sign In',
                      new_user_session_path,
                      class: 'btn btn-primary btn-default fixbtn' %>
      </div>
      </li>
      <li>
        <div>
          <%= link_to 'Sign Up',
                      new_user_path,
                      class: 'btn btn-success btn-default fixbtn' %>
      </div>
      </li>
    <% end %>
  </ul>
</div>

