<div class='visible-xs'>
  <ul class = 'nav navbar-nav navbar-right' >
    <li><%= link_to 'My Profile', current_user %></li>
    <% if FeatureToggleHelper.schedule? %>
      <li><%= link_to 'My Availability', availabilities_path %></li>
      <li><%= link_to 'My Schedule', my_schedule_path %></li>
      <li><%= link_to 'My Time Off', my_time_off_requests_path %></li>
    <% end %>
    <li><%= link_to 'Contact List', users_path %></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path,
            method: :delete %></li>
  </ul>
</div>
