<%= bootstrap_form_for @location do |f| %>

  <fieldset>
    <%= f.text_field :name, label: 'Location Name' %>

    <%= f.fields_for :pools do |builder| %>
      <%= render 'pool_fields', f: builder %>
    <% end %>

    <%= link_to_add_fields raw('<i class="glyphicon glyphicon-plus-sign"></i>'), f, :pools %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
