<%= provide(:title, 'My Availability') %>
<div ng-app='digiquatics'>
  <div ng-controller='AvailabilityCtrl'>
    <h1 class='cross_platform_header'>My Availability</h1>
    <div class='hidden-xs'>
      <table class='table table-bordered print-schedule-font'>
        <thead>
          <tr>
            <th class='my_schedule_header'>
              Sunday
            </th>
            <th class='my_schedule_header'>
              Monday
            </th>
            <th class='my_schedule_header'>
              Tuesday
            </th>
            <th class='my_schedule_header'>
              Wednesday
            </th>
            <th class='my_schedule_header'>
              Thursday
            </th>
            <th class='my_schedule_header'>
              Friday
            </th>
            <th class='my_schedule_header'>
              Saturday
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 0 }">
                <%= render 'availability' %>
              </div>
              <div class='shift';
                ng-click="open(0)"
                data-hover='Add Availability'>
              </div>
            </td>
              <td>
                <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 1 }">
                  <%= render 'availability' %>
                </div>
                <div class='shift';
                  ng-click="open(1)"
                  data-hover='Add Availability'>
                </div>
              </td>
              <td>
                <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 2 }">
                  <%= render 'availability' %>
                </div>
                <div class='shift';
                     ng-click="open(2)"
                     data-hover='Add Availability'>
                </div>
              </td>
              <td>
                <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 3 }">
                  <%= render 'availability' %>
                </div>
                <div class='shift';
                     ng-click="open(3)"
                     data-hover='Add Availability'>
                </div>
              </td>
              <td>
                <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 4 }">
                  <%= render 'availability' %>
                </div>
                <div class='shift';
                     ng-click="open(4)"
                     data-hover='Add Availability'>
                </div>
              </td>
              <td>
                <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 5 }">
                  <%= render 'availability' %>
                </div>
                <div class='shift';
                     ng-click="open(5)"
                     data-hover='Add Availability'>
                </div>
              </td>
              <td>
                <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 6 }">
                  <%= render 'availability' %>
                </div>
                <div class='shift';
                  ng-click="open(6)"
                  data-hover='Add Availability'>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class='visible-xs'>
      <table class='table table-bordered print-schedule-font'>
        <thead>
          <tr>
            <th class='my_schedule_header'>
              Sunday
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 0 }">
                <%= render 'availability' %>
              </div>
              <button class='btn btn-default btn-xs btn-block' ng-click='open(0)'>Add Availability</button>
            </td>
            </tr>
        </tbody>
      </table>
      <table class='table table-bordered print-schedule-font'>
        <thead>
          <tr>
            <th class='my_schedule_header'>
              Monday
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 1 }">
                <%= render 'availability' %>
              </div>
              <button class='btn btn-default btn-xs btn-block' ng-click='open(1)'>Add Availability</button>
            </td>
            </tr>
        </tbody>
      </table>
      <table class='table table-bordered print-schedule-font'>
        <thead>
          <tr>
            <th class='my_schedule_header'>
              Tuesday
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 2 }">
                <%= render 'availability' %>
              </div>
              <button class='btn btn-default btn-xs btn-block' ng-click='open(2)'>Add Availability</button>
            </td>
            </tr>
        </tbody>
      </table>
      <table class='table table-bordered print-schedule-font'>
        <thead>
          <tr>
            <th class='my_schedule_header'>
              Wednesday
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 3 }">
                <%= render 'availability' %>
              </div>
              <button class='btn btn-default btn-xs btn-block' ng-click='open(3)'>Add Availability</button>
            </td>
            </tr>
        </tbody>
      </table>
      <table class='table table-bordered print-schedule-font'>
        <thead>
          <tr>
            <th class='my_schedule_header'>
              Thursday
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 4 }">
                <%= render 'availability' %>
              </div>
              <button class='btn btn-default btn-xs btn-block' ng-click='open(4)'>Add Availability</button>
            </td>
            </tr>
        </tbody>
      </table>
      <table class='table table-bordered print-schedule-font'>
        <thead>
          <tr>
            <th class='my_schedule_header'>
              Friday
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 5 }">
                <%= render 'availability' %>
              </div>
              <button class='btn btn-default btn-xs btn-block' ng-click='open(5)'>Add Availability</button>
            </td>
            </tr>
        </tbody>
      </table>
      <table class='table table-bordered print-schedule-font'>
        <thead>
          <tr>
            <th class='my_schedule_header'>
              Saturday
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 6 }">
                <%= render 'availability' %>
              </div>
              <button class='btn btn-default btn-xs btn-block' ng-click='open(6)'>Add Availability</button>
            </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
