<%= provide(:title, 'My Availability') %>
<div ng-app='digiquatics'>
  <div ng-controller='AvailabilityCtrl'>
    <h1>My Availability</h1>
    <table class='table table-bordered print-schedule-font'>
      <thead>
        <tr>
          <th class='my_schedule_header'>
            Sunday
          </th>
          <th class='my_schedule_header'>
            Monday
          </th>
          <th class='my_schedule_header'>
            Tuesday
          </th>
          <th class='my_schedule_header'>
            Wednesday
          </th>
          <th class='my_schedule_header'>
            Thursday
          </th>
          <th class='my_schedule_header'>
            Friday
          </th>
          <th class='my_schedule_header'>
            Saturday
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 0 }">
              <%= render 'availability' %>
            </div>

            <div class='shift'
              ng-click="open(availability, 0)"
              data-hover='Add Availability'>
            </div>
          </td>

            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 1 }">
                <%= render 'availability' %>
              </div>

              <div class='shift'
                ng-click="open(availability, 1)"
                data-hover='Add Availability'>
              </div>
            </td>

            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 2 }">
                <%= render 'availability' %>
              </div>

              <div class='shift'
                   ng-click="open(availability, 2)"
                   data-hover='Add Availability'>
              </div>
            </td>

            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 3 }">
                <%= render 'availability' %>
              </div>

              <div class='shift'
                   ng-click="open(availability, 3)"
                   data-hover='Add Availability'>
              </div>
            </td>

            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 4 }">
                <%= render 'availability' %>
              </div>

              <div class='shift'
                   ng-click="open(availability, 4)"
                   data-hover='Add Availability'>
              </div>
            </td>

            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 5 }">
                <%= render 'availability' %>
              </div>

              <div class='shift'
                   ng-click="open(availability, 5)"
                   data-hover='Add Availability'>
              </div>
            </td>

            <td>
              <div ng-repeat="availability in availabilities | orderBy:'start_time' | filter: { day: 6 }">
                <%= render 'availability' %>
              </div>

              <div class='shift'
                ng-click="open(availability, 6)"
                data-hover='Add Availability'>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
