   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "dashboard", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Chemicals",    '#' %></li>
              <li><%= link_to "Maintenance",    '#' %></li>
              <li><%= link_to "Attendance", '#' %></li>
              <li><%= link_to "Lessons", '#' %></li>
              <li><%= link_to "Certifications", '#' %></li>
              <li><%= link_to "Account", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>