<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0 user-scalable=no'>
    <meta name="google-site-verification" content="mLoArmT6xfG0I-ieQbr_wvv2ucTsgXRgUapHy4NX18M" />
    <meta name="msvalidate.01" content="8D44564DAF7E2F0B30219254ECE0DDA9" />
    <meta name='description'
          content='All in one solution for employee and data management. This
          includes scheduling staff, tracking certifications, data mangement
          for chemicals, slide inspections, and maintanance, and a private
          lessons portal.'>
    <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css', 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= intercom_script_tag if Rails.env.production? %>

    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class='container'>
      <% browser_check %>
      <%= flash_messages %>
      <%= yield %>
      <div class='hidden-print'>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
