<p>
    All data can be exported to a CSV file that is compatiable with any
    version of Microsoft Excel or other popular spreadsheet suites.
</p>

<br>

<div class ='row'>
  <% if FeatureToggleHelper.chemicals? %>
    <div class='col-md-3'>
      <%= link_to 'Chemical Records', chemical_records_path(format: 'csv'),
        class: 'btn btn-danger btn-sm' %>
    </div>
  <% end %>
  <!-- <div class='col-md-3'>
    <%= link_to 'Certifications', certifications_path(format: 'csv'),
      class: 'btn btn-danger btn-sm' %>
  </div> -->
  <% if FeatureToggleHelper.private_lessons? %>
    <div class='col-md-3'>
      <%= link_to 'Private Lessons Queue', account_private_lessons_path(format: 'csv', account_id: current_account.id),
        class: 'btn btn-danger btn-sm' %>
    </div>
  <% end %>
  <div class='col-md-3'>
    <%= link_to 'Active Employees', users_path(format: 'csv'),
      class: 'btn btn-danger btn-sm' %>
  </div>
</div>

<br>

<div class ='row'>
    <div class='col-md-3'>
    <%= link_to 'Inactive Employees', inactive_index_path(format: 'csv'),
      class: 'btn btn-danger btn-sm' %>
  </div>
  <% if FeatureToggleHelper.maintenance? %>
    <div class='col-md-3'>
      <%= link_to 'Open and Closed Issues', help_desks_path(format: 'csv'),
        class: 'btn btn-danger btn-sm' %>
    </div>
  <% end %>
  <% if FeatureToggleHelper.shift_reports? %>
    <div class='col-md-3'>
      <%= link_to 'Shift Reports', shift_reports_path(format: 'csv'),
        class: 'btn btn-danger btn-sm' %>
    </div>
  <% end %>
</div>

<br><br><br><br>
