<div class='userform well'>
<%= bootstrap_form_for @account do |f| %>
  <%= content_tag(:legend, legend) unless !legend %>
  <%= render 'shared/required' %>
  <%= f.text_field :name, label: 'Organization Name *' %>
  <%= f.file_field :logo %>
  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  <button type='submit' class='btn btn-block btn-primary'>
    <i class='fa fa-refresh'></i> Update Account
  </button>
<% end %>
</div>
</div>
