<%= bootstrap_form_for @account do |f| %>

  <div id='accountform'>

    <%= f.text_field :name, label: 'Organization Name' %>

    <%= f.label :time_zone %><br>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>

    <%= f.fields_for :users do |builder| %>
      <%= render 'basic_user_fields', f: builder %>
    <% end %>

    <%= f.primary ( f.object.new_record? ?  'Create Account' :
    'Save Changes' ) %>
  </div>
<% end %>
