
<table class='table'>
  <tr>
    <th class='fixtablewidthadmin'> Location </th>
    <th> Pools </th>
    <th> Slides </th>
    <th></th>
    <th></th>
  </tr>
  <% @locations.each do |location| %>
  <tr>
    <td> <%= location.name %> </td>
    <td>
      <% location.pools.each do |pool| %>
      <%= pool.name %></br>
      <% end %>
    </td>
    <td>
      <% location.slides.each do |slide| %>
      <%= slide.name %></br>
      <% end %>
    </td>
    <td>
      <%= link_to ' Edit', edit_location_path(location),
        class: 'glyphicon glyphicon-pencil' %>
    </td>
    <td>
      <%= link_to ' Delete', location,
        class: 'glyphicon glyphicon-trash', method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<p class='new_button'>
  <%= link_to ' New', new_position_path,
    class: 'glyphicon glyphicon-plus-sign' %>
</p>


