<table class='table'>
  <tbody>
    <tr>
      <th>Skill Levels</th>
      <th></th>
      <th></th>
    </tr>
    <% @skill_levels.each do |skill_level| %>
      <tr>
        <td class='fixtablewidthadmin'> <%= skill_level.name %></td>

        <td><%= link_to ' Edit', edit_skill_level_path(skill_level),
        class: 'glyphicon glyphicon-pencil' %></td>
        <td><%= link_to ' Delete', skill_level, method: :delete,
          class: 'glyphicon glyphicon-trash',
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class='new_button'>
  <%= link_to ' New', new_skill_level_path,
    class: 'glyphicon glyphicon-plus-sign' %>
</p>

<table class='table'>
  <tbody>
    <tr>
      <th>Packages</th>
      <th></th>
      <th></th>
    </tr>
    <% @packages.each do |package| %>
      <tr>
        <td class='fixtablewidthadmin'> <%= package.name %></td>

        <td><%= link_to ' Edit', edit_package_path(package),
        class: 'glyphicon glyphicon-pencil' %></td>
        <td><%= link_to ' Delete', package, method: :delete,
          class: 'glyphicon glyphicon-trash',
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class='new_button'>
  <%= link_to ' New', new_package_path,
    class: 'glyphicon glyphicon-plus-sign' %>
</p>

<hr>

<h4>External Private Lessons Request Access:</h4>
<p>
  The unique URL below for private lessons allows patrons to access the private
  lessons portal without needing an account or any additional information
</p>

<div class='hidden-xs'>
  Unique URL:
  <%= link_to "http://www.digiquatics.com/account/#{@account.id}/private_lessons/new",
              new_account_private_lesson_path(account_id: current_account.id) %>
</div>

<div class='visible-xs'>
  Unique
  <%= link_to "URL",
              new_account_private_lesson_path(account_id: current_account.id) %>
</div>
