<% provide(:title, 'Admin Dashboard') %>
<h1>Admin Dashboard</h1>

<div class="table-responsive">
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          Manage Account
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in">
	      <div class="panel-body">
	      	<%= render 'account' %>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          Manage Locations
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<%= render 'locations' %>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	          Manage Attendance
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<%= render 'attendance' %>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	          Manage Chemicals
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<%= render 'chemicals' %>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
	         Manage Positions
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFive" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<%= render 'positions' %>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
	         Manage Private Lessons Information
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSix" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<%= render 'private_lessons' %>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
	         Manage Certifications
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSeven" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<%= render 'certifications' %>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
	         Manage Data
	        </a>
	      </h4>
	    </div>
	    <div id="collapseEight" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<%= render 'exports' %>
	      </div>
	    </div>
	  </div>
	</div>
</div>
