<% provide(:title, 'Account Preferences') %>
<h1 class='cross_platform_header'>Account Preferences</h1>

<div ng-app="digiquatics" ng-controller="AdminDashboardCtrl">
  <accordion close-others="oneAtATime">
    <accordion-group heading="Manage Account">
     <%= render 'account' %>
    </accordion-group>

    <accordion-group heading="Manage Certifications">
      <%= render 'certifications' %>
    </accordion-group>

    <% if FeatureToggleHelper.chemicals? %>
      <accordion-group heading="Manage Chemicals">
      </accordion-group>
    <% end %>

    <accordion-group heading="Manage Locations">
      <%= render 'locations' %>
    </accordion-group>
    <% if FeatureToggleHelper.attendance? %>
      <accordion-group heading="Manage Attendance">
        <%= render 'attendance' %>
      </accordion-group>
    <% end %>
    <accordion-group heading="Manage Positions">
      <%= render 'positions' %>
    </accordion-group>
    <% if FeatureToggleHelper.private_lessons? %>
      <accordion-group heading="Manage Private Lessons Information">
        <%= render 'private_lessons' %>
      </accordion-group>
    <% end %>

    <accordion-group heading="Email Alerts">
    <%= render 'emails' %>
    </accordion-group>

    <accordion-group heading="Export Data">
      <%= render 'exports' %>
    </accordion-group>
  </accordion>
</div>
