<% provide(:title, 'Admin dashboard') %>
<h1>Admin dashboard</h1>

<div class="table-responsive">
	<div class="panel panel-default">
		<div class="panel-heading"><b>Manage Account</b></div>
		<%= render 'account' %>
	</div>
<div>

<div class="table-responsive">
	<div class="panel panel-default">
		<div class="panel-heading"><b>Manage Locations</b></div>
		<%= render 'locations' %>
	</div>
<div>

<div class="table-responsive">
	<div class="panel panel-default">
		<div class="panel-heading"><b>Manage Positions</b></div>
		<%= render 'positions' %>
		</div>
<div>

<div class="table-responsive">
	<div class="panel panel-default">
		<div class="panel-heading"><b>Manage Certifications</b></div>
		<%= render 'certifications' %>
	</div>
<div>

<div class="well well-lg">
	<%= render 'exports' %>
</div>

<br><br>


